[2018-05-12 14:10] jonjet opened #2 "Error running exchange_with_ipc.py after generating blocks_rpc.json"
After generating blocks_rpc.json, the following commmand exchange_with_ipc.py resulted in error.

python exchange_with_ipc.py --ipc-path=~/.local/share/io.parity.ethereum/jsonrpc.ipc --input=blocks_rpc.json --output=blocks_rpc_output.json
Traceback (most recent call last):
  File "exchange_with_ipc.py", line 20, in <module>
    response = socket_exchange(args.ipc_path, ''.join(line_batch), args.ip

[2018-05-12 14:48] medvedev1088 commented on #2
Thank you for reporting this issue.

Try using `--ipc-path=$HOME/.local/share/io.parity.ethereum/jsonrpc.ipc` - looks like the ~ is not expanded by the shell as it's in the middle of the string. I will update README also.

However, parity is not supported by this tool at this point. The reason is geth and parity ipc work in a slightly different way as I found out:
- geth ipc will output an empty s

[2018-05-13 09:47] medvedev1088 commented on #2
Thank you for the help!

I haven't done much programming in Python myself, most of my experience is Java/Kotlin. For unit testing I think we can use https://docs.pytest.org. It's the same tool that web3.py uses https://github.com/ethereum/web3.py. I suspect they already apply all the best practices so we could borrow configs, structure, workflows from there.

A good start can be `ethereumetl.servi

[2018-05-16 05:23] jonjet opened #3 "Error during parsing of results running export_all.sh - Results from nohup.out below"
2018-05-16 01:34:54 Exporting blocks 04600000-04699999 to output/start_block=04600000/end_block=04699999/blocks_rpc_output_04600000_04699999.json
2018-05-16 02:21:18 Extracting blocks 04600000-04699999 to output/start_block=04600000/end_block=04699999/blocks_04600000_04699999.csv
2018-05-16 02:21:18 Extracting transactions from blocks 04600000-04699999 to output/start_block=04600000/end_block=0469

[2018-05-16 09:12] medvedev1088 commented on #3
Thanks for reporting this issue.

I also faced it while exporting 4600k-4699k blocks. At this period there was a peak with over 1 milling transfers on November 27 https://medium.com/@medvedev1088/exporting-and-analyzing-ethereum-blockchain-f5353414a94e

A quick workaround is to change  `ipc_batch_size=100` to `ipc_batch_size=10` in export_all.sh.

This issue should be mitigated when I fix this per

[2018-05-17 15:11] s2r3dswq opened #4 "Ran export_all command in Windows but only generated erc20_transfer csv"
Im running on windows and used the following command:
./export_all.sh -s 3000000 -e 4000000 -b 100000 -i '\\.\pipe\geth.ipc' -o output

following error occured:

2018-05-17 23:00:08 Exporting blocks 03000000-03099999 to output/start_block=03000000/end_block=03099999/blocks_rpc_output_03000000_03099999.json
Traceback (most recent call last):
  File "exchange_with_ipc.py", line 20, in <module>
    r

[2018-05-17 21:32] jonjet commented on #3
Thanks for the workaround. I've not tested this yet since I'm still loading the data job. Block 5200000-5299999 is having the same errors as well.

I'll test these both 4600000-4699999 and 5200000-5299999 with batch size of 10 once I've completed the full job.

Log for reference:-

2018-05-17 02:14:00 Exporting blocks 05200000-05299999 to output/start_block=05200000/end_block=05299999/blocks_rpc_o

[2018-05-18 11:17] jonjet commented on #3
I've left `ipc_batch_size=100` and changed the following parameters `export_erc20_batch_size=10` and both jobs completed successfully without any degradation in performance.

2018-05-18 06:01:01 Extracting transactions from blocks 04600000-04699999 to output/start_block=04600000/end_block=04699999/transactions_04600000_04699999.csv
2018-05-18 06:35:25 Exporting ERC20 transfers from blocks 04600000

[2018-05-18 17:40] medvedev1088 commented on #4
@s2r3dswq I added support for Windows. Please help test when you have time.

I tested with this command:

`./export_all.sh -s 0 -e 9999 -b 10000 -i '\\.\pipe\geth.ipc' -o output`

[2018-05-18 17:41] medvedev1088 commented on #2
@jonjet I added support for Parity. Please help test when you have time.

[2018-05-19 07:55] medvedev1088 commented on #3
That's good news. I will reduce the default value for this parameter. I also optimized web3.py IPCProvider https://github.com/ethereum/web3.py/pull/849 so once they release a new version and I include it in this lib, ERC20 transfer export will be even faster.

[2018-05-22 07:35] s2r3dswq commented on #4
tested and working for export_all.sh on windows env
Thanks

[2018-05-22 07:38] #4 closed

[2018-05-22 12:32] medvedev1088 opened #7 "Arbitrary column ordering in CSV"
CSV files seem to have an arbitrary column ordering which can change from batch to batch.

[2018-05-22 12:57] medvedev1088 opened #8 "Rewrite export_all.sh in python"
For cross platform compatibility.

[2018-05-22 20:25] #3 closed

[2018-05-23 13:06] #7 closed

[2018-05-24 08:08] s2r3dswq opened #12 "No support for HTTPProvider"
would be great to connect by JSON RPC.

[2018-05-24 08:35] medvedev1088 commented on #12
Yes, I'm going to fully migrate to web3.py once they support batch requests https://github.com/ethereum/web3.py/issues/832. Please upvote that issue.

Once I do this all their providers will be supported, including HTTPProvider, WebsocketProvider, IPCProvider.

At this point only exporting ERC20 transfers uses web3.py so adding support for more providers should be fairly easy for ERC20 transfers.

[2018-05-25 10:02] medvedev1088 opened #14 "Add unit tests to cover Timeout handling"
This code is not covered https://github.com/medvedev1088/ethereum-etl/blob/5d43edc1061c68709804b578ae527e23b7429610/ethereumetl/jobs/batch_export_job.py#L37

[2018-05-26 16:48] Victornovikov opened #16 "Python 3.5 is not supported"
Executing
` python export_blocks_and_transactions.py --start-block 0 --end-block 500000 --ipc-path ~/.ethereum/geth.ipc --blocks-output blocks.csv --transactions-output transactions.csv
`
unfortunately results in an error
  File "export_blocks_and_transactions.py", line 5, in <module>
    from ethereumetl.jobs.export_blocks_job import ExportBlocksJob
  File "/home/vn/ethereum-etl/ethereumetl/jobs/

[2018-05-26 16:56] medvedev1088 commented on #16
Hi @Victornovikov. What is the version of python that you use? Also please include the full error log.

[2018-05-26 17:07] Victornovikov commented on #16
thanks a lot for a prompt response.
`python --version`
3.5.2

it is pretty much the full log.. just in case pasting _everything_ from my terminal window

(eth) vn@eth-node:~/ethereum-etl$ python export_blocks_and_transactions.py --start-block 0 --end-block 500000 --ipc-path ~/.ethereum/geth.ipc --blocks-output blocks.csv --transactions-output transactions.csv
Traceback (most recent call last):
  F

[2018-05-26 17:10] medvedev1088 commented on #16
Try upgrading to Python 3.6. Type annotations are not supported in python 3.5. I'll add support for python 3.5 later.

[2018-05-26 21:58] Victornovikov commented on #16
Yep, all works now. Thanks!
Should have paid more attention to README.

[2018-05-26 21:58] #16 closed

[2018-06-04 09:12] #2 closed

[2018-06-19 15:26] tokusyu opened #26 "Add support for eth_getTransactionReceipt command"
I would like to get a value of "gasUsed" in each transactions at the same time as Blocks and Transactions data exporting.
I think adding support of JSON RPC "eth_getTransactionReceipt" is the best way to get this information, but is it possible to implement to this ETL tool?

[2018-06-20 02:17] tokusyu commented on #26
Thanks for your reply.
I thank that trasactions.tx_gas and transaction_receipt.gas_used are not same.
https://github.com/ethereum/go-ethereum/issues/1097

So I want support of eth_getTransactionReceipt in this ETL tool.

Sincerely

2018/06/20 0:44、medvedev1088 <notifications@github.com>のメール:

[2018-06-20 08:06] medvedev1088 commented on #26
You are right, they are different fields.

Here is how it could be added to export_blocks_job.py:

[code]

[2018-06-21 07:34] medvedev1088 commented on #26
@tokusyu please help upvote this feature request https://github.com/ethereum/go-ethereum/issues/17044. It will be much easier to export receipts with this change.

[2018-06-24 04:14] chrismclennon opened #28 "Invalid rows being written in transaction_*.csv files"
Earlier I tried running export_all.sh and am receiving rows that have too many columns. My guess is that the files aren't being properly handled, resulting in erroneous rows being written.

An example I'm seeing of an invalid row:

[code]

It looks like it should be:

[code]

It seems that transaction `0x39a53f3f5d5c973134eb9eaecfed1a9d629ca5050bcd34e3ef249a242e539ac0` got cut off and the next row

[2018-06-24 08:04] medvedev1088 commented on #28
Thanks for reporting this. I'll try to reproduce it:

1. What are the versions of OS and python?
2. What are the parameters that you pass to export_all.sh?
3. Can you reproduce it consistently or does it happen from time to time?
4. Is it possible that on your machine somehow 2 export processes were running in parallel? E.g. if you killed one bash process, then started another one, but the old pyt

[2018-06-24 09:54] chrismclennon commented on #28
Thanks for checking it out, I think your idea in number 4 may actually be it.

1. Python 3.5.2 running on Ubuntu 16.04.4 LTS
2. `nohup bash export_all.sh -s 0 -e 5843000 -b 100000 -i ~/.ethereum/geth.ipc -o output`
3. I'm reproducing it consistently.
4. Super good thinking! It looks like other python3 processes are running. I'll kill those, rerun, and report back.

[2018-06-24 23:07] chrismclennon commented on #28
Looks like that fixed it. Thanks for the help!

[2018-06-24 23:07] #28 closed

[2018-06-30 04:39] Hanoosh opened #35 "Python 3.7 "SyntaxError" ?"
`export_blocks_and_transactions.py --start-block 0 --end-block 500000 --ipc-path \\\\.\\pipe\\geth.ipc --blocks-output blocks.csv --transactions-output transactions.csv`
Traceback (most recent call last):
  File "C:\Users\Administrator\Desktop\ethereum-etl-master\export_blocks_and_transactions.py", line 4, in <module>
    from ethereumetl.ipc import IPCWrapper
  File "C:\Users\Administrator\Deskto

[2018-06-30 08:51] medvedev1088 commented on #26
@tokusyu I added support for receipts and logs https://github.com/medvedev1088/ethereum-etl#command-reference. Please help test if you have a chance.

I also uploaded receipts and logs to the public dataset on BigQuery https://medium.com/@medvedev1088/ethereum-blockchain-on-google-bigquery-283fb300f579

[2018-06-30 08:53] medvedev1088 commented on #35
Thanks for reporting this. I will try to run it with Python 3.7.

[2018-07-02 15:10] Hanoosh opened #37 "Ability to export or query all ever used addresses"
can it be used to dump all ever used addresses ?

i know i can do that using "--transactions-output transactions.csv" and then extract tx_from and tx_to then sort and remove duplicates

but how to get the addresses from tx_input that are used in contracts ?
**EDIT:** now i saw that i can use erc20_transfers.csv erc20_from,erc20_to
and how about the miners ?
**EDIT:** i can use blocks.csv block_min

[2018-07-02 15:13] Hanoosh opened #38 "Support for continuously polling for new blocks"
is it possible to make --end-block latest ? so the script keeps working in real time as soon as a new block comes ?

[2018-07-03 07:19] medvedev1088 commented on #37
1. When I add internal transactions you will be able to query all addresses that have ever had non-zero Ether balance and all contracts.
2. If you add erc20_transfers to_address/from_address you will get all addresses that have ever had non-zero Ether/token balance and all contracts.
3. If you use 4byte.directory data and parse transaction inputs you can also add addresses not included in (1) and

[2018-07-03 11:10] medvedev1088 commented on #38
Coming soon.

[2018-07-03 13:42] #26 closed

[2018-07-09 17:00] shayanb opened #41 "Export Receipts failed"
After running the command to get transaction receipts:
[code]
I got the following error:

[code]

Not really clear what resulted in this error.

[2018-07-09 17:02] medvedev1088 commented on #41
Did you also run `extract_csv_column.py` as explained here https://github.com/medvedev1088/ethereum-etl#export_receipts_and_logspy?

[2018-07-09 22:55] shayanb commented on #41
Thanks @medvedev1088, that was the issue.

[2018-07-09 22:55] #41 closed

[2018-07-10 16:18] medvedev1088 opened #44 "Add SQL schemas for receipts, logs, contracts, erc20_tokens to schemas/aws"

[2018-07-14 13:37] RaianeQC opened #47 "ethtoke 0.01a3 has requirement web~=4.0, byt you'll have web3 4.3.0 wich is incompatible"
Traceback (most recent call last):
  File "export_blocks_and_transactions.py", line 4, in <module>
    from ethereumetl.ipc import IPCWrapper
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\ipc.py", line 5, in <module>
    from web3.providers.ipc import get_default_ipc_path, PersistantSocket
ModuleNotFoundError: No module named 'web3'

[2018-07-14 14:56] medvedev1088 commented on #47
Fixed. Try again starting with `pip install -r requirements.txt`

[2018-07-14 17:56] RaianeQC opened #49 "Windows - SyntaxError: invalid syntax"
C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master>python export_blocks_and_transactions.py --start-block 0 --end-block 500000 \ --ipc-path ~/Library/Ethereum/geth.ipc --blocks-output blocks.csv --transactions-output transactions.csv
Traceback (most recent call last):
  File "export_blocks_and_transactions.py", line 4, in <module>
    from ethereumetl.ipc import IPCWrapper
  File "C:\Users

[2018-07-14 17:57] medvedev1088 commented on #49
What version of python are you using?

[2018-07-14 17:59] RaianeQC commented on #35
I have the same problem
python --version
Python 3.7.0

[2018-07-14 18:03] RaianeQC commented on #49
Version python 3.7

[2018-07-14 18:05] RaianeQC commented on #47
Thank you!

[2018-07-14 18:05] #47 closed

[2018-07-14 18:09] RaianeQC commented on #49
I will install version python 3.5

[2018-07-14 18:35] RaianeQC commented on #49
Now I have problem

Traceback (most recent call last):
  File "export_blocks_and_transactions.py", line 35, in <module>
    job.run()
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\jobs\base_job.py", line 7, in run
    self._end()
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\jobs\export_blocks_job.py", line 57, in _end
    super()._

[2018-07-14 18:37] medvedev1088 commented on #49
Seems you are using Windows. Try these instructions https://github.com/medvedev1088/ethereum-etl#running-in-windows

[2018-07-14 18:37] medvedev1088 commented on #49
In particular the file path should be `\\.\pipe\geth.ipc`

[2018-07-14 19:00] RaianeQC commented on #49
Thanks, very much!

Sorry , but I have problem:

./export_all.sh: line 71: python3: command not found
2018-07-14 15:59:23 An error occurred. Quitting.

[2018-07-14 19:39] RaianeQC commented on #49
I run in GIT Bash,  ./export_all.sh -s 0 -e 999999 -b 100000 -i '\\.\pipe\geth.ipc' -o output

But i have problem belove:

Traceback (most recent call last):
  File "export_blocks_and_transactions.py", line 35, in <module>
    job.run()
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\jobs\base_job.py", line 7, in run
    self._end()
  File "C:\Users\XPS\Documents\Pyt

[2018-07-15 07:43] medvedev1088 commented on #49
After raise IOError(err) you have the same message as before? `OSError: (3, 'CreateFile', 'O sistema não pode encontrar o caminho especificado.')`
Check that geth is running. The message says that the ipc file doesn't exist.

[2018-07-15 15:59] RaianeQC commented on #49
Thank very Much.

I have other problem:

Traceback (most recent call last):
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\jobs\base_job.py", line 5, in run
    self._export()
  File "C:\Users\XPS\Documents\Python-Ethereum\ethereum-etl-master\ethereumetl\jobs\batch_export_job.py", line 42, in _export
    self.executor.submit(self._fail_safe_export_batch, batch_start

[2018-07-15 16:04] RaianeQC commented on #49
Thank you, you helped me a lot.

I'll study your script.

I'm very grateful.

[2018-07-16 12:50] medvedev1088 opened #53 "Add support for internal transactions"
Parity provides APIs for retrieving [internal transactions](https://github.com/paritytech/wiki/blob/master/JSONRPC-trace-module.md). [trace_filter](https://github.com/paritytech/wiki/blob/master/JSONRPC-trace-module.md#trace_filter) API allows retrieving traces for a range of blocks. This method is already supported by web3.py [parity module](https://github.com/ethereum/web3.py/blob/master/web3/pa

[2018-07-16 14:51] medvedev1088 opened #54 "Add 4byte function signature hashes to contracts.csv (for contract interface detection)"
This nice tool allows disassembling contract bytecode https://github.com/tintinweb/ethereum-dasm. Using `basicblocks` method there https://github.com/tintinweb/ethereum-dasm/blob/master/ethereum_dasm/evmdasm.py allows getting the blocks of the contract, including the initialization block where all functions 4byte hashes should be listed:

An example output:

[code]

We can assume that all `PUSH4`

[2018-07-17 09:21] medvedev1088 commented on #12
Fixed https://github.com/medvedev1088/ethereum-etl/pull/55

[2018-07-17 09:21] #12 closed

[2018-07-17 15:45] domatka78 opened #57 "Windows - "all pipe instances are busy" error"
Hi - thanks a lot for the great scripts. I am trying to run the batch exporter (export_all.sh) in git bash (Windows 7, 64 bit) and get the following error:
 File "export_blocks_and_transactions.py", line 57, in <module>
    job.run()
  File "D:\Git\ethereum-etl\ethereumetl\jobs\base_job.py", line 30, in run
    self._end()
  File "D:\Git\ethereum-etl\ethereumetl\jobs\export_blocks_job.py", line 80

[2018-07-17 17:13] medvedev1088 commented on #57
Try adding -w 1 option to python scripts in export_all.sh. Also try restarting geth/parity node and see if it works.

[2018-07-17 21:46] domatka78 commented on #57
the -w 1 option worked, thanks a lot!

[2018-07-18 07:36] medvedev1088 commented on #57
Could you please also check if -w 2 works? I assume the issue is that Windows pipes can not be connected from multiple threads/processes.

[2018-07-19 07:44] medvedev1088 opened #59 "Add support for JSON export format"
Nested and repeated fields in BigQuery are not supported in CSV https://cloud.google.com/bigquery/docs/loading-data#loading_denormalized_nested_and_repeated_data

[2018-07-20 21:36] domatka78 commented on #57
I checked with -w 2. Worked one time but then I tried again with larger block range and it failed. So I guess you're right about pipes and Windows

Interestingly if I run the export_blocks_and_transactions script directly (without specifying -w) it works no matter how long block range I give it. The issue is then probably in the loop in the .sh script. I can help investigate further, just tell me

[2018-07-21 01:13] tokusyu commented on #26
Thanks.
I tested it and It worked like a charm.

[2018-07-21 01:17] tokusyu commented on #8
I was wondering if you could add receipt, logs, erc20_tokens and contracts exporting, because name of this tool  contains a "all"!

[2018-07-22 18:04] medvedev1088 commented on #57
Thank you for checking this! I think the issue is that the pipe file is not closed when the export job is finished. So when running export_all.sh it will open new connections with the pipe file while the old ones are still open from the previous python script invocation. This issue can also be submitted to web3.py since there they don't handle socket/pipe file closing either.

Could you please als

[2018-07-26 16:31] medvedev1088 commented on #59
Now supported

[2018-07-26 16:31] #59 closed

[2018-07-30 15:23] medvedev1088 commented on #54
Done

[2018-07-30 15:23] #54 closed

[2018-08-10 17:00] Mushoz opened #78 "Missing Transfers With export_token_transfers.py"
I am trying to fetch all erc-20 tokens that have ever been made for each specific token with export_token_transfers.py. However, I am unable to get all transfers successfully. I am using the following command to export the transfers:

python3 export_token_transfers.py --start-block 0 --end-block 6123389 --provider-uri file:///home/jaap/.local/share/io.parity.ethereum/jsonrpc.ipc --output ../Docume

[2018-08-10 17:15] medvedev1088 commented on #78
Most likely it's related to Parity's warp sync. Here is what the documentation says https://wiki.parity.io/Getting-Synced:

ERC20 transfers are extracted from transaction receipts which are missing in warp mode. Try either `parity --no-warp` or `geth`.

[2018-08-10 17:35] Mushoz commented on #78
For future reference for people running into the same issue: I just synced the first ~1 million blocks without warp sync and can indeed confirm that I now do see erc-20 transfer events. Thank you very much for your insanely fast reply and the wonderful piece of software!

[2018-08-10 17:35] #78 closed

[2018-08-12 12:49] tokusyu opened #80 "Date based hive partition is more useful than Block No. based in analyzing."
Recently I’ve been analyzing Ethereum block chain data and found that the Block No. based partions didn’t benefit me.
I think the Block No. based partition is useful only when a query exactly fits the start_block and end_block and it didn’t occur in my situation, but querying by dates was occurred so often.
So I would like suggest that export_all.sh and related schemes should be refactored by Date

[2018-08-12 13:33] medvedev1088 commented on #80
Totally agree with you. Partitioning by date is much more convenient.

[2018-08-12 20:16] fadetogray opened #81 "Data_dir"
I just want to use an external data storage (my nas server), but unfortunately I do not understand how to add a data dir folder.

As far as I understand, there are no keys to specifying a specific directory.

[2018-08-13 06:41] medvedev1088 commented on #81
Do you mean the output directory for the CSV files? You can use `-o` option for `export_all.sh`

[2018-08-13 08:03] fadetogray commented on #81
No, I mean Ethereum directory --provider-uri file://blah/blah/Ethereum/geth.ipc

[2018-08-13 08:18] medvedev1088 commented on #81
You can just specify the path to the ipc file. For example if you started geth with datadir=/my/custom/dir, the ipc file will probably be somewhere at /my/custom/dir/geth.ipc. Then you start the script with

--provider-uri file:///my/custom/dir/geth.ipc

[2018-08-13 08:28] medvedev1088 commented on #81
Notice the 3 slashes `file///`

[2018-08-13 08:34] fadetogray commented on #81
Oh yes! But there is a small condition. I should use these senttings:

Run ethereum as

geth --cache=2048 --datadir "/Volumes/Blah.Blah/Ethereum" --ipcpath "~/Library/Ethereum/geth.ipc"

And run scripts as

.... file://$HOME/Library/Ethereum/geth.ipc ...

Thanks for your thoughts!

[2018-08-13 08:35] #81 closed

[2018-08-13 10:40] Mushoz opened #82 "TypeError: Address must be provided as a string"
I am running into the following traceback when running the command below. As far as I can tell, I followed the proper format as per the documentation. The entire command works fine without the --tokens argument, but in that case I would be extracting every erc-20 token transfer ever made, which is going to take a very very long time :)

[code]

[2018-08-13 10:53] medvedev1088 commented on #82
Thanks for reporting this. Please check your web3 version:

Filtering by token address works fine for me. I guess it has to do with latest version of web3.py where they added address param validation https://github.com/ethereum/web3.py/blob/master/web3/utils/rpc_abi.py.

If that's the case then the issue should be submitted to web3.py as well because the address param should allow arrays https://g

[2018-08-13 10:58] Mushoz commented on #82
This is my web3 version:

[code]

Please let me know if this is indeed a bug with web3, because I will file a bug report upstream then. Thank you :)

[2018-08-13 11:03] medvedev1088 commented on #82
Yes this is a web3.py issue. You can submit a bug and the sample code that doesn't work but is supposed to is:

[code]

[2018-08-14 04:41] tokusyu commented on #80
Could I upload AWS schemas for partition by date?

[2018-08-14 04:45] tokusyu opened #86 "Add optional parameter "timezone" to get_block_range_for_date.py"
It would be nice if we can pass timezone parameter to get_block_range_for_date.py as an option because I usually use JST(+9) in analyzing rather than UTC.

[2018-08-14 04:56] medvedev1088 commented on #86
Good idea.

[2018-08-14 04:57] medvedev1088 commented on #80
Sure, go ahead, it will be useful to other people also.

[2018-08-14 05:45] #80 closed

[2018-08-23 20:16] domatka78 opened #90 "error in get blocks by date"
Hi, I get the following error, wonder if you can advise:
$ python get_block_range_for_date.py --provider-uri=https://mainnet.infura.io --date 2018-01-01
Traceback (most recent call last):
  File "get_block_range_for_date.py", line 50, in <module>
    start_block, end_block = eth_service.get_block_range_for_date(args.date)
  File "D:\git\ethereum-etl-master_230818\ethereumetl\service\eth_service.py

[2018-08-23 20:32] domatka78 commented on #57
sorry for the late reply, was busy with sth else. Using -p http://localhost:8545 didn't help (still same error if using more than 1 worker on Windows). But using infura.io works great with default workers

[2018-08-24 06:18] medvedev1088 commented on #90
Thanks for reporting this! I will try to fix it in 3.5.4

[2018-08-25 19:30] medvedev1088 opened #92 "Add streaming support"
https://github.com/orgs/blockchain-etl/projects/1

[2018-08-25 19:34] medvedev1088 opened #93 "Add ethereum-etl to pip"
Need the ability to install ethereum-etl via pip

https://packaging.python.org/tutorials/installing-packages/

[2018-08-25 19:38] medvedev1088 opened #94 "Implement CLI with Click package"
Create Command Line Interface using the [Click](http://click.pocoo.org/5/) package.

The CLI should have the following commands (the link references the corresponding command implemented with argparse):

- `ethereumetl export blocks`: https://github.com/blockchain-etl/ethereum-etl#export_blocks_and_transactionspy
- `ethereumetl export receipts`: https://github.com/blockchain-etl/ethereum-etl#expor

[2018-08-26 15:18] medvedev1088 opened #95 "Add dependency on ethereum-dasm to dependencies.txt"
Previously was not possible due to this issue https://github.com/tintinweb/ethereum-dasm/issues/5

[2018-08-30 08:55] medvedev1088 opened #97 "Filter out ASCII characters not supported by BigQuery"
BigQuery fails when trying to load a CSV with ASCII 0 with the following message:

We need to check what other characters are not supported in BigQuery and filter them out https://en.wikipedia.org/wiki/ASCII.

https://github.com/medvedev1088/ethereum-etl/blob/master/ethereumetl/jobs/export_tokens_job.py#L64

This should probably a separate python script with filtering logic (not in `export_tokens_

[2018-09-04 21:18] domatka78 opened #98 "Is it possible to export transactions by given address only (to or from)?"

[2018-09-04 22:02] ArtemBernatskyy commented on #98
+1

[2018-09-05 23:00] ad-m commented on #93
See also https://stackoverflow.com/questions/4840182/setup-py-and-adding-file-to-bin#11717581 .

[2018-09-13 12:39] medvedev1088 commented on #98
Unfortunately, the JSON RPC API doesn't provide this capability.

[2018-09-18 17:27] medvedev1088 commented on #38
https://github.com/orgs/blockchain-etl/projects/1

[2018-09-18 17:27] #38 closed

[2018-10-01 15:12] mkosowsk commented on #53
@medvedev1088 this looks like a very interesting issue and we're happy to fund it via the ECF Web 3.0 Infrastructure Fund 👍 Hopefully we'll have some solid bounty hunters here soon to take a look

If you find any other issues that look compelling either on this repo or others, feel free to fill out more https://gitcoin.co/requests

Thanks!

[2018-10-01 17:58] tucker-chambers opened #99 "Cannot get export_all.sh function to run (or any others)"
Hi there,
I am running geth, with the --ipcdisable flag because I am storing the blockchain data on an external HD and am therefore also using the --datadir flag. Everything is syncing fine and I have about 90% of the chain downloaded. On my local OSX, I have installed the ethereum-etl package (using Python 3.7) and can see all of the .py programs. However, I am getting the errors below. I am usin

[2018-10-01 18:08] medvedev1088 commented on #99
If you can't use IPC you should enable rpc using `--rpc` https://github.com/ethereum/go-ethereum/wiki/Command-Line-Options. Then use `-p http://localhost:8545` for `export_all.sh`

[2018-10-01 23:31] tucker-chambers commented on #99
Thank you. The --rpc command and localhost ideas worked.

[2018-10-01 23:35] tucker-chambers commented on #99
Also, what would you say is a reasonable timeframe for export_all.sh to complete its task (say, per 10,000 items)? Thanks again.

[2018-10-03 12:11] mkosowsk commented on #53
@medvedev1088 looks like we've got some interest here from some workers!

I'd be happy to chat offline at mitchkosowski [at] gmail or @Mitch_Kosowski on Telegram/Twitter to talk about next steps in approving workers. Feel free to hit me up at your earliest convenience 👍

Thanks!

[2018-10-03 12:56] mkosowsk commented on #53
Thanks to all those that applied but we have approved @evgeniuz to start work on this bounty. @evgeniuz please start work at your earliest convenience 👍

[2018-10-03 16:28] evgeniuz commented on #53
Thanks, already started working on the issue. Will start by implementing minimum viable version first and then go from there.

[2018-10-05 08:31] medvedev1088 opened #102 "Add Dockerfile"
The scope for this task is:

1. Add Dockerfile ([this](https://github.com/airswap/ethereum-etl/commit/cc7f86e139d317452c9cf0c975b99feb6ed8d7a0#diff-3254677a7917c6c01f55212f86c57fbf) can be used as a basis). Both ipc and rpc should be supported.
1. Test it.
1. Update documentation in [README](https://github.com/blockchain-etl/ethereum-etl#exporting-the-blockchain) with instructions on how to use it

[2018-10-06 01:41] #99 closed

[2018-10-06 10:15] tokusyu opened #103 "Write files in compressed format."
It is very useful if this etl tool could  output csv files in compressed format.
Because the size of output files are huge and analyzing tool like pandas can read gzip file directly.

[2018-10-06 11:34] tokusyu commented on #103
Thanks, but where is your code? :)

[2018-10-06 11:54] elim0322 commented on #103
I wrote it for work so I have to check with my colleague first on Monday :) I’ll let you know

[2018-10-06 11:55] tokusyu commented on #103
Excellent!

[2018-10-08 20:21] cryptomental commented on #102
Hi, I have just noticed that @elim0322 was assigned to the issue already 3 days ago. I will therefore press 'stop work' on this bounty. @elim0322 have fun with this one!

[2018-10-09 02:04] mkosowsk commented on #102
@zachzundel you have been approved to start work on this bounty, please start at your earliest convenience. Thanks to all that applied to work on this issue 👍

[2018-10-09 02:58] medvedev1088 commented on #102
@zachzundel Please don't start working on this issue. elim0322 has already been assigned to this task.

[2018-10-09 03:01] mkosowsk commented on #102
Shit! My bad @medvedev1088 , assigning this issue on the Gitcoin back-end to @elim0322

My apologies @zachzundel, I am sending a tip your way for your trouble 👍

[2018-10-10 06:57] evgeniuz commented on #53
@mkosowsk, hi, please, see pull request, it’s implemented, waiting for review and comments.

[2018-10-10 08:56] medvedev1088 commented on #102
@mkosowsk the task has been completed by @elim0322 https://github.com/blockchain-etl/ethereum-etl/pull/105. What is the process from here? Should I just close the issue?

[2018-10-10 16:08] medvedev1088 commented on #53
@evgeniuz great job! Could you create the PR to develop branch instead of master?

[2018-10-10 17:00] mkosowsk commented on #102
@elim0322 please confirm receipt of your bounty at your earliest convenience 👍

@medvedev1088 yep, once @elim0322 confirms receipt please close out the issue. Thanks!

[2018-10-10 17:52] elim0322 commented on #102
@mkosowsk Yes, I received the bounty of 100 DAI. Thank you so much!
@medvedev1088 It's safe to close the issue now 👍

[2018-10-11 01:11] elim0322 commented on #103
Reminding myself to do this

[2018-10-11 05:49] #102 closed

[2018-10-11 05:55] medvedev1088 commented on #53
@mkosowsk the task has been completed by @evgeniuz https://github.com/blockchain-etl/ethereum-etl/pull/104. Please release the bounty for him.

[2018-10-11 05:58] medvedev1088 commented on #53
@evgeniuz are you up for taking another task for exporting traces from geth https://github.com/ethereum/go-ethereum/pull/15516? It will be different as this API only works via websockets. And also I would like to split up the job into 2 parts: the one that exports raw JSON from JSON RPC API and another that parses JSON and produces CSVs.

[2018-10-11 07:17] evgeniuz commented on #53
@medvedev1088 I would like to, but will be busy next week. If no one else starts working on it after that, I'm up.

[2018-10-11 11:46] tokusyu opened #107 "recover excutional bit on shell files"
I found that on the latest master branch there are no excute bit on shell scripts.
Ex: git ls-files -s export_all.sh
-> 100644

So this script isn’t executable.
Could someone kindly recover execute bits?

Or completely move to python verdion of export_all (I love it) and then remove shell version from master ; )

[2018-10-11 12:46] medvedev1088 commented on #107
Thanks for spotting this! I just pushed a commit to recover it:

[code]

I'm going to remove the shell version once the Dockerfile supports IPC.

[2018-10-11 12:46] #107 closed

[2018-10-11 17:26] jotto opened #108 "Why separate transactions from blocks in bq schema?"
I'm curious about the decision to separate blocks from transactions in the BigQuery schema. Is it a personal preference of querying style (SQL joins rather than unnesting SQL arrays?) Or is there a performance or technical reason for it?

[2018-10-11 17:37] medvedev1088 commented on #108
Mainly for simplicity. Most developers are familiar with the standard SQL and joins and are not familiar with non-standard operations like unnesting. From performance point of view BigQuery docs actually recommend to denormalize.

[2018-10-11 17:52] medvedev1088 commented on #108
@jotto did you face any issue related to this e.g. some queries run significantly slower?

[2018-10-11 18:14] jotto commented on #108
@medvedev1088 thanks for the quick response, I haven't tested the performance yet. I'm using your project for architectural inspiration for other blockchains so I wanted to understand if there was a specific reason for the schema.

Do you have any thoughts on querying or persisting state of Ethereum accounts per block height?

[2018-10-12 09:15] medvedev1088 commented on #108
@jotto for state diffs we can use parity trace API. It's already been implemented here https://github.com/blockchain-etl/ethereum-etl/pull/104 but without stateDiff support.

Feel free to submit an issue to add support for state diffs and I will request to fund it with GitCoins similar to this task: https://github.com/blockchain-etl/ethereum-etl/issues/53.

Also feel free to join Gitter and ask qu

[2018-10-14 14:30] medvedev1088 opened #110 "Add GraphQL exporters"
Should be done with support is added to geth https://twitter.com/nicksdjohnson/status/1051451048236384257

[2018-10-15 13:06] mkosowsk commented on #53
Hi @evgeniuz, just confirming that you received a 400 DAI payment for this issue. I am seeing a payment on my end but for some reason @gitcoinbot did not do a follow-up post

[2018-10-16 12:05] mkosowsk commented on #102
@mbeacom this is a bit of a curious case, I've paid @elim0322 via `Advanced` functionality and they have confirmed receipt but the issue is not closed out on Gitcoin and Gitcoinbot is still ringing in🤔

Mind taking a look when you have a moment? Thanks!

[2018-10-20 23:59] elim0322 commented on #94
Here is the PR under review: https://github.com/blockchain-etl/ethereum-etl/pull/112

[2018-10-22 16:07] evgeniuz commented on #53
@mkosowsk Hi, I received payment, thanks :)

[2018-10-23 09:24] dimworm opened #113 "'code': -32015, 'message': 'VM execution error.', 'data': 'Bad jump destination 2'"
Every time I export data from blocks 01000000-01099999, there will be this error:

`2018-10-23 15:13:22,817 - ProgressLogger [INFO] - Started work.
2018-10-23 15:13:47,147 - ProgressLogger [INFO] - Finished work. Total items processed: 3053. Took 0:00:24.330398.
2018-10-23 15:13:47,150 - CompositeItemExporter [INFO] - contract items exported: 3053
2018-10-23 15:13:47 Extracting token_address from

[2018-10-23 16:06] medvedev1088 opened #114 "Add support for geth traces"
The scope of this task:

1. Design the model for geth traces ([trace.py](https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/domain/trace.py) can be used as a basis).
2. Implement the export and extract jobs.
  2.a The export job should use [traceBlockByNumber](https://github.com/ethereum/go-ethereum/wiki/Management-APIs#debug_traceblockbynumber) (https://github.com/ethereum/go

[2018-10-23 16:09] medvedev1088 commented on #114
@evgeniuz are you up for taking this task?

[2018-10-23 16:10] medvedev1088 commented on #113
Thanks for reporting this. I will look into this issue.

[2018-10-23 16:30] medvedev1088 commented on #113
@dimworm what options do you use to start the exporting process?

[2018-10-23 16:30] evgeniuz commented on #114
@medvedev1088 ok, will try to implement this.

[2018-10-23 20:33] medvedev1088 commented on #114
@evgeniuz I added more details in task description, in particular callTracer option for traceBlockByNumber api. See if it helps.

[2018-10-23 20:55] medvedev1088 commented on #93
Someone else requested funding for this issue.

@evgeniuz, I and @elim0322 have discussed pip integration in anothe task https://github.com/blockchain-etl/ethereum-etl/pull/112. I’m not sure if he already started working on it or not. If yes then it will be fair if he takes this task, otherwise @evgeniuz can take it.

@elim0322 please let us know if you started working on pip integration and would

[2018-10-24 00:55] dimworm commented on #113
./export_all.sh -s 2000000 -e 6499999 -b 100000 -p file:/home/jar/.local/share/io.parity.ethereum/jsonrpc.ipc -o output

[2018-10-24 08:56] medvedev1088 commented on #93
@evgeniuz just saw your comment that it was you who requested the bounty for this issue :). Let's wait for @elim0322 's reply before proceeding.

[2018-10-24 10:33] elim0322 commented on #93
@medvedev1088, @evgeniuz I’m working on #112 at the moment and I would like to work on pip integration as we discussed :)

[2018-10-24 13:31] #53 closed

[2018-10-25 04:19] dimworm commented on #113
This error is fixed. thank you.

[2018-10-25 06:16] holiman commented on #114
Geth developer here. I would suggest you add support instead for the `standard-json` trace format, described [here](https://github.com/ethereum/evmlab/wiki/howto-evm). It is supported by both geth and parity.

However, the `callTracer` uses a format which is not as good. I've made this PR which should make post-processing of blocks and tracers much nicer: https://github.com/ethereum/go-ethereum/pu

[2018-10-25 08:36] medvedev1088 commented on #113
@dimworm did the PR https://github.com/blockchain-etl/ethereum-etl/pull/115 help or the issue disappeared by itself?

[2018-10-25 10:18] dimworm commented on #113
Yes, PR #115 helps.  Thank you so much.

[2018-10-25 14:02] medvedev1088 commented on #113
Reopening as the fix also ignores other errors that shouldn't be ignored.

[2018-10-25 17:45] #108 closed

[2018-10-26 00:33] suhailvs commented on #93
@elim0322 I found that work has been assigned to you on gitcoin only after my [pull request](https://github.com/blockchain-etl/ethereum-etl/pull/117). so shall we work together?

@medvedev1088 need an account on https://pypi.org/ to upload to pip.

[2018-10-26 02:32] elim0322 commented on #93
@suhailvs sorry about that! I didn’t see the PR. I’ll stop work on gitcoin

[2018-10-26 09:11] medvedev1088 commented on #93
@suhailvs, @elim0322 started working on this task long ago and I think it will be fair if he continues this task. He also has the context about Click integration so it will be easier for me also as I don't need to explain it again.

@elim0322 I'd rather have you continue working on this task but feel free to take any help from @suhailvs if you need it.

@suhailvs appreciate your help. Please next

[2018-10-26 10:41] medvedev1088 commented on #53
@evgeniuz have you noticed that `gasUsed` is often null in parity responses? Do you know what's the reason?

[2018-10-26 11:12] evgeniuz commented on #53
@medvedev1088 here's the best explanation I was able to find: https://ethereum.stackexchange.com/questions/31443/what-do-the-response-values-of-a-parity-trace-transaction-call-actually-repres.

[2018-10-26 17:22] medvedev1088 commented on #114
@holiman thanks for the suggestion. Exporting "raw" traces sounds like an interesting idea. By "raw" traces I mean the list of opcodes with parameters as seen on the "Raw traces" page on Etherscan https://etherscan.io/vmtrace?txhash=0xa2dd0f7e60eb13d22739cdf9ed34a24c12f642e17db66308beabba7852f9c0b2#raw. I assume you meant the same in your comment.

Having this trace it will be possible to reimplem

[2018-10-26 17:39] evgeniuz commented on #114
@medvedev1088 Should I continue implementation with `callTracer`? It might be still useful to quickly get just internal calls without parsing huge datasets.

[2018-10-26 17:41] medvedev1088 commented on #114
@evgeniuz yes please continue as planned. Raw traces can be a separate task.

[2018-10-27 05:29] elim0322 commented on #93
@medvedev1088 Thanks! I’ll re-apply for the work on gitcoin.

Sorry everyone for the confusion :)

[2018-10-27 08:33] dimworm opened #118 "/ethereum-etl/ethereumetl/jobs/export_contracts_job.py", line 66, in _export_contracts result = response['result']"
My another server run into this error:

`2018-10-27 02:03:17,921 - ProgressLogger [INFO] - Started work.
2018-10-27 02:03:50,923 - ProgressLogger [INFO] - 5000 items processed.
2018-10-27 02:04:00,381 - ProgressLogger [INFO] - 10000 items processed.
Traceback (most recent call last):
  File "export_contracts.py", line 58, in <module>
    job.run()
  File "/root/ethereum-etl/ethereumetl/jobs/base_j

[2018-10-27 17:43] medvedev1088 commented on #118
Thank you for reporting this. I added handling of a missing 'result' field in the json response https://github.com/blockchain-etl/ethereum-etl/pull/119. The error message should be more descriptive now and will help identify the cause.

[2018-10-29 14:57] suhailvs commented on #93
@medvedev1088  i am new to gitcoin.

[2018-11-04 15:51] #114 closed

[2018-11-05 07:21] #95 closed, assigned to nobody

[2018-11-07 12:38] medvedev1088 opened #123 "Add support for Python 3.5 and 3.7"
The scope of this task is:
- Test that all commands work in Python 3.5 and 3.7.
- Change the code where necessary (e.g. `f''` string formatting is not supported in Python 3.5)
- Write tox config for Python 3.5, 3.6, 3.7 (example tox usage can be found here https://github.com/ethereum/web3.py)
- Update README with instructions on how to run tox tests.
- Travis CI configuration and testing that it w

[2018-11-07 12:39] medvedev1088 opened #124 "Write tests for cli commands"
http://click.palletsprojects.com/en/7.x/testing/

[2018-11-07 15:13] mkosowsk commented on #93
Hi @medvedev1088 please let me know when this issue is good to pay out to @elim0322 :)

[2018-11-10 19:51] medvedev1088 commented on #123
Hi @ceresstation, thanks for funding this issue! Please approve @evgeniuz to work on this issue. Has has already worked on 2 issues in this project so he is the best candidate.

[2018-11-11 15:19] ceresstation commented on #123
Hey @evgeniuz you're good to go, let @medvedev1088 know if you have any questions!

[2018-11-12 16:32] mkosowsk commented on #123
Test comment, please ignore :)

[2018-11-13 07:33] frankchen07 commented on #102
@mkosowsk - issue is now admin'ed to done status. I'll see to document the advanced pay Gitcoin bot / Gitcoin syncing as a bug ticket.

[2018-11-13 16:50] mkosowsk commented on #102
@frankchen07 thanks!

FWIW since this ticket I've avoided the `Advanced` functionality for paying out funds for the ECF Web 3.0 Maintenance Fund and have just been having folks submit their work and pay out the standard way 👍

Please keep me posted on the `Advanced` pay syncing :) I don't think it's a huge priority but would make life a bit easier 👍

[2018-11-14 06:29] medvedev1088 commented on #113
Seems the issue happens only with Parity.

[2018-11-14 17:34] medvedev1088 opened #129 "Write tests for export_all command"

[2018-11-15 17:52] #123 closed

[2018-11-15 18:06] medvedev1088 opened #130 "Add bumpversion"
Example usage here https://github.com/ethereum/web3.py

[2018-11-24 09:43] smasuda opened #132 "token includes not only ERC20/ERC723 but also ERC721(NFT)"
Hi,

token epo

[2018-11-24 09:43] #132 closed

[2018-11-26 07:11] dimworm opened #133 "Permission denied."
When I ran "ethereumetl export_token_transfers --start-block 5000000 --end-block 6773000 --provider-uri file:/home/jar/jsonrpc.ipc --output /home/jar/token/token_transfers.csv", I got this error:

`jar@jar-B450M-DS3H:~/token$ ethereumetl export_token_transfers --start-block 5000000 --end-block 6773000 --provider-uri file:/home/jar/jsonrpc.ipc --output /home/jar/token/token_transfers.csv
2018-11-26

[2018-11-26 10:43] medvedev1088 commented on #133
Interesting. Did you check if the ipc file has the appropriate permissions? Here is how it looks like for me:
[code]

[2018-11-27 03:51] dimworm commented on #133
Thank you for your response. It's the problem of permission. Now it works after I change the permission with chmod.

The reason of the problem is because my parity is installed with root account.

BTW, changing file:/home... to file:///home... does not fix the problem.

[2018-11-27 03:51] #133 closed

[2018-12-01 11:47] pieterhartel opened #134 "Missing contracts created in internal transactions"
I have tried to find the address of all verified smart contracts from etherscan.io on google big query ( table bigquery-public-data.ethereum_blockchain.contracts ) and it seems that all contracts that have been created by an internal transaction are missing from the google big query data base. Is that indeed the case?

Here is my query:

[code]
1406 contracts out of a total of 48839 verified smart

[2018-12-01 14:05] medvedev1088 commented on #134
Thanks for reporting this. You are correct - the contracts created in internal transactions are missing. This is one of the limitations https://github.com/blockchain-etl/ethereum-etl#limitations. We are working on adding those to the dataset https://github.com/blockchain-etl/ethereum-etl-airflow/issues/8.

Meanwhile you can query all contract addresses and bytecode from the traces table:

[code]

[2018-12-02 07:45] pieterhartel commented on #134
Thank you for your swift feedback and the suggestion to use the traces table. I had indeed overlooked the limitations section on GitHub. I have also tried out my query with the traces table instead of the contracts table like so:

[code]

Now there are only 14 verified contracts unaccounted for. I looked a few up on etherscan and it seems that this has something to do with the error status of the

[2018-12-02 14:06] medvedev1088 commented on #134
Yes that's an interesting case. Somehow Parity doesn't return the contract address when a transaction (or  a message call) failed https://etherscan.io/vmtrace?txhash=0x1fb7448b3a4d9096385576edc7712fa202cff341b25b335281aee73faefe8a1a&type=parity#raw. For successful contract creations the contract address is in `result.address` field, which we put into `to_address` in the BigQuery traces table.

Thi

[2018-12-04 13:51] tokusyu opened #135 "traceAddress field on Internal Transactions"
I want to tell root trace from each transactions using traceAddress field, to make status field before byzantium HF.
The latest version of this ETL tool returns null on traceAddress field for both root trace and end traces.

https://github.com/paritytech/wiki/blob/master/JSONRPC-trace-module.md#traceaddress-field

It would be nice if the tool returns the information to tell root trace from other t

[2018-12-04 13:57] medvedev1088 commented on #135
Right now trace_address is null in for which Parity returned `[]`, i.e. all root traces. Could you clarify what you meant by "both root trace and end traces"?

[2018-12-04 14:19] tokusyu commented on #135
OK.
For example. transition hash: 0xcd00c809d674717642222309c5cb5d40083b010a1a2f112b9849f6874186e5e1
has 3 rows on trace table.

1. call_type: call, gas: 2081185, gas_used: 48322, subtraces:1, trace_address: null
2. call_type: callcode , gas: 2072091, gas_used: 48229, subtraces:1, trace_address:1
3. call_type: call, gas: 2017169, gas_used:0, subtraces:0, trace_address:null

I think 1st row is the

[2018-12-04 14:49] medvedev1088 commented on #135
Hmm, that's interesting. What branch are you using? I just tried on develop branch and I get 3 traces with correct addresses:

[code]

I also checked in the BigQuery dataset, and get the same result:

[code]

[2018-12-04 15:09] tokusyu commented on #135
Thanks.
I found the cause is my broken schema.
The result you showed me is what I wanted!
I'm using pip version and I'm glad I don't need to re-run to extract traces from genesis block!

[2018-12-04 15:09] #135 closed

[2018-12-05 09:23] cxd1995 opened #136 "Error: geth.ipc and parity.ipc are not found"
We try to export token.csv and contract.csv. Following the guideline, we have installed geth and parity on our server, but we can not find geth.ipc (or parity.ipc)  in the following path：
file：// $ HOME /Library/Ethereum/geth.ipc
(And we have made sure that geth can start and import blocks to our server. But we donnot wish to synchronize all blocks to our localhost)

[2018-12-10 06:29] lukaskai opened #137 "Exporting traces timeouts"
Hello, I have an issue with exporting the traces from Parity. Setting batches even to 1 block per file, and timeout to 600 seconds, the export of certain block traces timeouts.

A very good example block: 3805005. It always timeouts and interestingly there are over 100 failed internal txs (https://etherscan.io/txsInternal?block=3805005). Therefore, it always timeouts wihle running the export scrip

[2018-12-10 07:56] medvedev1088 commented on #137
Thanks for reporting this issue!

What instance type are you using for the Parity node? I've been using `n1-highmem-2 (2 vCPUs, 13 GB memory)` in GCP and all the blocks are exported within the default timeout. I suspect the bottleneck may be memory in your case?

[2018-12-10 10:09] lukaskai commented on #137
Thanks, it worked. It seems that I had too low IPC_Timeout set up, as well as instance setup was not right. With m5 large it seems to be working like charm. Thanks guys, appreciate you help.

[2018-12-10 10:09] #137 closed

[2019-01-05 05:52] disadone opened #138 "web3.exceptions.InvalidAddress"
When I executed

I got

It says that I should file it as a bug.... So I am here.

I was running ethereum-go using docker. ethereum-etl was not in docker environment.

[2019-01-05 05:58] tokusyu commented on #138
Convert your token address 0x81... using below service.
https://piyolab.github.io/sushiether/RunScrapboxCode/?web3=1.0.0-beta.33&code=https://scrapbox.io/api/code/sushiether/web3.js_-_Ethereum_のアドレスをチェックサム付きアドレスに変換する/demo.js

[2019-01-05 06:02] disadone commented on #138
Oh, em.. It seems a easy problem. Thank you!

[2019-01-05 08:11] disadone opened #139 "0 items exported,export_token_transfer?"
I have another issue when I executed this (an example of export_token_transfer):

It outputs

2019-01-05 16:06:34,454 - ProgressLogger [INFO] - 50100 items processed. Progress is 10%.
2019-01-05 16:06:35,770 - ProgressLogger [INFO] - 100100 items processed. Progress is 20%.
2019-01-05 16:06:36,470 - ProgressLogger [INFO] - 150100 items processed. Progress is 30%.
2019-01-05 16:06:37,488 - Progress

[2019-01-05 10:42] medvedev1088 commented on #139
There were not transfers for this token for the block ranges you use. You can verify it in BigQuery:

[code]

[2019-01-05 10:48] medvedev1088 commented on #139
What is the `currentBlock` value when you call `eth.syncing` in js console?

[2019-01-05 10:56] disadone commented on #139
144278

I thought highestblock matters. Am I wrong thinking?

[2019-01-05 10:57] medvedev1088 commented on #139
highestBlock is the latest block in the network. currentBlock is the latest downloaded block. You need to wait for the currentBlock to be close to highestBlock

[2019-01-05 11:00] disadone commented on #139
Oh... that's a huge work. Thank you! I am new to eth. So there is no way directly pull the data, right?

[2019-01-05 11:02] medvedev1088 commented on #139
You can use infura and extract_token_transfers instead of export_token_transfers command. But it will take long time. Alternatively use the public dataset in BigQuery https://medium.com/@medvedev1088/ethereum-blockchain-on-google-bigquery-283fb300f579

[2019-01-05 11:04] disadone commented on #139
Thank you!:+1: :+1: :+1:  I will take a way to get my data

[2019-01-08 14:32] cxd1995 opened #140 "Error in export traces using geth"
We have used parity to export traces. But we found the table is probably incorrect.  The data is not consistent with what we see in Etherscan. Then we try to export traces with geth.
However, when we executed the following commond:
**ethereumetl export_traces --start-block 6000000 --end-block 6010000 \--provider-uri file://$HOME/Library/Ethereum/geth.ipc --batch-size 100 --output geth_traces.json*

[2019-01-08 14:57] medvedev1088 commented on #140
What are the inconsistencies?

For geth there is a separate command https://github.com/blockchain-etl/ethereum-etl#export_geth_traces. You need to start geth with `geth --gcmode archive --syncmode full --ipcapi debug`.

[2019-01-09 01:59] cxd1995 commented on #140
For example, we get the following data for block 7022757 using parity:
![image](https://user-images.githubusercontent.com/45622921/50870230-25e09780-13f2-11e9-843e-821a66268d3c.png)

It dose not match with the contract internal transactions for block 7022757 on Etherscan:
![image](https://user-images.githubusercontent.com/45622921/50870140-bec2e300-13f1-11e9-9220-dd0859578dd3.png)

Particularly, t

[2019-01-10 02:55] cxd1995 commented on #140
You are right. We have changed the setting of parity
**chain = "foundation"**

[2019-01-10 07:55] medvedev1088 commented on #140
Note that syncing full archival node takes more than a month and requires more than 2TB of SSD disk space.

[2019-01-10 11:55] cxd1995 commented on #140
Thanks for your help!
BUT there is still some problem.

Surprisingly we got sample data of trace table from block#1000000 to block#1010000 using parity.
![image](https://user-images.githubusercontent.com/45622921/50966447-e27c4b00-150f-11e9-9c7e-d8c4a7490e24.png)
BUT there are none internal transactions for block 1000002 on Etherscan
![image](https://user-images.githubusercontent.com/45622921/5096

[2019-01-10 13:34] medvedev1088 commented on #140
That's an expected behavior. Every transaction has at least 1 trace - the top level one.

[2019-01-10 14:08] cxd1995 commented on #140
Thanks!
I tried to fiflter them out by setting trace_address is not null.
It seems works for some blocks.
![image](https://user-images.githubusercontent.com/45622921/50972612-0c3e6d80-1522-11e9-9871-8e85d2c5746b.png)

BUT when I check the data on Etherscan,  still no interal transaction were found.
![image](https://user-images.githubusercontent.com/45622921/50973268-71469300-1523-11e9-9ecc-65ad2f6

[2019-01-14 00:26] iter-io opened #141 "ConflictResolution Error"
@medvedev1088 - I started getting a dependency resolution error in my recent builds of the ethereum-etl docker container.  I made this change to get it running again:

https://github.com/iter-io/ethereum-etl/commit/bde116ad06f4fc5ac0b9a705e2fd54f2acf451d7

Wasn't sure about doing a pull request though since I haven't run the tests.  Just getting into that.

[2019-01-14 08:48] cxd1995 opened #142 "Missing Status Column exporting receipts"
@medvedev1088
We found that sometimes status column are missing in the receipt table using geth.
Transactions in the first four million blocks do not have the status column.
![image](https://user-images.githubusercontent.com/45622921/51103001-24610600-181c-11e9-83a9-1c79b12eb1f2.png)

After Block 4,300,000, the receipt table has status column and is filled with zero or one.
![image](https://user-i

[2019-01-14 08:53] medvedev1088 commented on #142
Yeah I found this also when I plotted successful vs failed transactions here https://medium.com/@medvedev1088/more-blockchain-analysis-on-bigquery-92a863137f01. `receipt_status` column was added to Ethereum protocol in Bysantium release that’s why the data is missing before October 14, 2017.

As a workaround `status` field in traces can be used.

[2019-01-14 09:00] medvedev1088 commented on #141
Thanks for reporting this. I tried `docker build -t ethereum-etl:latest .` and got this warning

Is it what you're referring to?

[2019-01-14 09:16] cxd1995 commented on #142
Thanks!
BUT how could we figure out failed transactions in trace table?Error column might be not enough. Sometimes error happend in part of the transaction in the trace table. BUT it still succeed finially.
![image](https://user-images.githubusercontent.com/45622921/51104045-e960d180-181f-11e9-88f3-589c881a0378.png)
![image](https://user-images.githubusercontent.com/45622921/51104073-03021900-1820

[2019-01-14 09:20] medvedev1088 commented on #142
You are right it may be tricky. I believe if you filter only top level traces and look at the ones that have error null, those are succeeded transactions, all others are failed.

[2019-01-14 21:19] iter-io commented on #141
Yes I am getting this warning:

eth-keys 0.2.1 has requirement eth-utils<2.0.0,>=1.3.0, but you'll have
eth-utils 1.2.0 which is incompatible.

I thought my build failed as a result of this but it's succeeding right now.

On Mon, Jan 14, 2019 at 1:00 AM medvedev1088 <notifications@github.com>
wrote:

[2019-01-15 07:12] medvedev1088 commented on #141
Thanks, I'll need to fix it anyway.

[2019-01-16 08:19] ellen4 opened #143 "evmdasm.disassembler [ERROR]"
Hello, I tried to get token info.
MY process is :

[code]
every process I got message
[code]

and these message shows up when the ``` export_contracts ``` process
[code]

So I installed everything it needs and [evmdasm](https://github.com/tintinweb/evmdasm/tree/41ce3d829aefc647b0027910808049b87b39e5aa)
and that ERROR message keeps show up..

Can I get help ? 😢

[2019-01-16 13:57] medvedev1088 commented on #143
You can ignore the warnings about symbolic execution. This feature of evmdasm is not used in ethereum-etl.

The `invalid instruction` error can also be ignored. Bytecode for some contracts has invalid PUSH operations that are not followed by the right number of bytes. It's not relevant for the purposes of ERC20 contracts detection.

Later I will configure logging in a way those message are omitted

[2019-01-16 14:57] ellen4 commented on #143
Thanks a lot ...!

[2019-01-16 14:57] #143 closed

[2019-01-17 06:45] #139 closed

[2019-01-17 06:50] #118 closed

[2019-01-17 06:53] medvedev1088 commented on #113
Merged https://github.com/blockchain-etl/ethereum-etl/pull/115 as a temporary fix.

[2019-01-22 14:51] Aminadav opened #145 "Auto sync DB from ethereum node."
Do you have an idea how to implement an ongoing process that checks each block (after X confirmations), and outputs the data to console or append it to CSV?

This way it will be easy to create software that monitors the mainnet.

Is it currently supported?
Is it going to be supported?

[2019-01-22 14:56] medvedev1088 commented on #145
feature/streaming branch in this repository contains stream.py file with PubSubExporter. Also there are instructions here for deploying to GCP https://github.com/blockchain-etl/ethereum-etl-streaming

[2019-01-23 16:09] Aminadav commented on #145
Great. Exactly what I needed. Thanks.

[2019-01-23 16:09] #145 closed

[2019-02-07 06:25] ghost opened #146 "no module name ethereumetl.cli, 'ethereumetl' is not a package"
![error1](https://user-images.githubusercontent.com/26707639/52394141-43ce1480-2ae4-11e9-8937-bce8e9aad70a.png)

[2019-02-07 06:26] leexitong commented on #146
windows 10, python 3.7

[2019-02-07 16:01] deerdear commented on #141
Hi, my build is still failing with this error:

[code]

[2019-02-07 16:03] medvedev1088 commented on #141
Try the fix proposed by @iter-io. If it works I will create a PR and merge it. Thanks.

[2019-02-11 09:31] ellen4 opened #148 "How Could I distinguish ERC20/721 ?"
Hello, I collected **token transfer** information via ethereum-etl.

[code]

Now I get **token_transfers.csv** file.

How can I distinguish ERC20/721 ?

Thanks.

[2019-02-11 10:56] medvedev1088 opened #149 "Factor out filter_items, extract_field cli commands to a separate repository"
The functions in this file should be factored out to a separate utility lib as they are reused in bitcoin-etl https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/misc_utils.py

[2019-02-11 10:56] #93 closed

[2019-02-11 10:57] medvedev1088 commented on #37
Done https://medium.com/google-cloud/how-to-query-balances-for-all-ethereum-addresses-in-bigquery-fb594e4034a7

[2019-02-11 10:57] #37 closed

[2019-02-11 10:57] medvedev1088 commented on #82
@Mushoz any updates on this issue?

[2019-02-11 10:58] medvedev1088 commented on #90
Fixed.

[2019-02-11 10:58] #90 closed

[2019-02-11 10:59] #94 closed

[2019-02-11 11:00] #136 closed

[2019-02-11 11:00] #142 closed

[2019-02-11 11:02] medvedev1088 commented on #148
One way is to use export_contracts command, the output of which has is_erc20 and is_erc721 fields https://github.com/blockchain-etl/ethereum-etl#export_contracts

[2019-02-11 12:45] ellen4 commented on #148
Thank you. It helped a lot.

[2019-02-11 12:45] #148 closed

[2019-02-20 07:28] ellen4 opened #150 "Address is not exist (info, transfer)"
Hello, I made up two tables.

First one is **token transfer** data and the other one is **token info** data

I discovered two tables, And I found something weird.

token **CPT (contents protocol) (=Address '0x9b62513c8a27290cf6a7a9e29386e600245ea819'**) exists in token transfer table.

But not in token info table.

How could it happen? is it wrong situation or it could be ?

Both of the tables are

[2019-02-20 14:16] cxd1995 commented on #137
@tokusyu @lukaskai
I had same problem. Could you teach me how to change default _ipc_timeout?

[2019-02-20 14:42] cxd1995 opened #151 "Error in exporting traces using Parity"
@medvedev1088
We used Parity to export traces. It works perfectly for almost every block.
BUT error happens in some block ranges, such as 2,280,000~2,400,000 and 3800000~4,000,000.
 **Error:web3.utils.threads.Timeout: 60 seconds**
![image](https://user-images.githubusercontent.com/45622921/53099550-01cfb480-3561-11e9-8336-71ba4805299f.png)

Our server has far more than 8 GB memory. Maybe we could

[2019-02-21 11:20] medvedev1088 commented on #150
Hi, that's a known limitation https://github.com/blockchain-etl/ethereum-etl/issues/134. The contracts created in internal transactions are missing in the contracts table. In order to access them you'd need to export traces.

[2019-02-21 11:31] medvedev1088 commented on #151
Hi, thanks for reporting this. Try with this PR https://github.com/blockchain-etl/ethereum-etl/pull/152. It adds -t option for timeout.

[2019-02-21 14:27] cxd1995 commented on #151
Thanks.
We have updated files including export_traces.py and auto.py in our server.
And the default time are set at 3000, which is long enough.
BUT same error still happens.

[2019-02-21 14:28] medvedev1088 commented on #151
Does it timeout after 60 seconds or 50 minutes?

[2019-02-22 14:24] cxd1995 commented on #151
It still timeouts after 50 minutes

[2019-02-22 14:27] minhtrih opened #153 "ValueError: result is None in response (export_all)"
I run it on ubuntu

but after n time it has error:

`File "/usr/local/lib/python3.6/dist-packages/ethereumetl/jobs/export_blocks_job.py", line 70, in _export           │  File "/usr/local/lib/python3.6/dist-packages/ethereumetl/jobs/export_blocks_job.py", line 70, in _export
    total_items=self.end_block - self.start_block + 1                                                                │    to

[2019-02-22 14:29] tokusyu commented on #151
Hi, My setting is
 DEFAULT_IPC_TIMEOUT = 6000

And I'm using AWS EC2 m5.large.

[2019-02-22 14:50] medvedev1088 commented on #151
Also check your EBS volume is performant enough - EBS(type: gp2, IOPS:7500)

[2019-02-23 02:10] cxd1995 commented on #151
Thanks!
We have deleted large files to ensure enough volume(more than 100G) in our server.
And We will try to set default_IPC_timeout=6000.

[2019-02-23 15:55] medvedev1088 opened #154 "Rewrite jobs using asyncio"
https://docs.python.org/3.6/library/asyncio.html#module-asyncio

[2019-02-26 02:10] cxd1995 commented on #151
We found that some single blocks are extremely large and the program get error in these blocks.
We finally have extracted traces of these blocks successfully, one at a time.

[2019-02-26 07:49] medvedev1088 commented on #151
Could you also specify you Parity version? It's possible there were changes that made the API slower.

[2019-02-26 09:03] BhumikaB commented on #133
when deploying it in server it gives me the same error

[Tue Feb 26 08:33:40.993157 2019] [wsgi:error] [pid 18223:tid 139892973623040] [client 116.72.55.92:60192] ERROR:flask.app:Exception on /address_generate [POST], referer: http://18.219.48.7/address.html
[Tue Feb 26 08:33:40.993183 2019] [wsgi:error] [pid 18223:tid 139892973623040] [client 116.72.55.92:60192] Traceback (most recent call last):

[2019-03-06 11:54] cxd1995 commented on #151
The Parity version installed on our server is  v2.1.9-stable.
To solve the problem, we have to extract one block at a time. That's inefficient

[2019-03-10 11:13] tpmccallum commented on #97
Could this perhaps be an individual function inside the ethereumetl/utils.py file?

For example a `clean_user_provided_content(content)` function which could be used by the export_tokens_job.py (and other scripts) via `from ethereumetl.utils import clean_user_provided_content`.

[2019-03-10 11:40] tpmccallum commented on #97
Alternatively it might be cleaner to use the pre-existing library called Unidecode [1]. This way any .py file in the ETL application can just clean up the strings by importing Unidecode like this `from unidecode import unidecode` and then using inline code like this `clean_content = unidecode(unicode(dirty_content, encoding = "utf-8"))`.

The only catch is that we will need to add `pip3 install Un

[2019-03-13 13:03] cxd1995 opened #159 "Error in exporting token"
We are exporting Ethereum data using GETH.  When exporting the table Tokens, some error happened. The error is:
**eth_abi.exceptions.InsufficientDataBytes: Tried to read 32 bytes.  Only got 0 bytes**
Surprisingly the error only happened during specific blocks. It worked well for the first 200 thounsand blocks and happened after that
![image](https://user-images.githubusercontent.com/45622921/54280

[2019-03-13 13:05] #140 closed

[2019-03-13 13:07] medvedev1088 commented on #159
Thanks for reporting it. Does the exporting continue after that exception or does the program crash? This exception is supposed to be ignored as stated in the message.

[2019-03-13 13:20] cxd1995 commented on #159
The exporting continued. And the token table exported is null.

[2019-03-13 13:23] medvedev1088 commented on #159
You can check if the token contract conforms to the standard https://github.com/ethereum/EIPs/blob/master/EIPS/eip-20.md. If it does and the values returned by symbol, decimals, name functions are not null then it's probably a bug.

[2019-03-13 14:01] cxd1995 commented on #159
This is the exported token table from block 400,000 to block 600,000.
Only 19 rows and address column were exported.

![image](https://user-images.githubusercontent.com/45622921/54284756-7d120c80-45db-11e9-85d3-e09af47ca9a7.png)

[2019-03-31 10:18] #98 closed

[2019-03-31 10:19] #141 closed

[2019-03-31 18:38] ArtemBernatskyy commented on #98
It could be done via Ethereum in BigQuery.
https://cloud.google.com/blog/products/data-analytics/ethereum-bigquery-public-dataset-smart-contract-analytics

Note: you need to input eth addresses in lowercase )

[2019-04-03 02:01] cxd1995 opened #162 "Stopped Parity when exporting trace"
We are using Parity to export the trace table. It worked well previously. But some error occurred recent days.
![image](https://user-images.githubusercontent.com/45622921/55447455-6b2df300-55f6-11e9-98d5-8ae271997a35.png)
![image](https://user-images.githubusercontent.com/45622921/55447508-8f89cf80-55f6-11e9-9156-2f92379684b6.png)
It seems that the synchronization has failed since the block number

[2019-04-03 02:15] tokusyu commented on #162
Hi.
Which version of Parity are you using?
I have experienced similar problem recently, and restarting parity solved it.

I am using parity/parity:v2.3.2 from Official Docker Image.

[2019-04-03 02:20] cxd1995 commented on #162
Parity Ethereum version: 2.1.9-stable
Operating system: Linux
Installation: built from source
Fully synchronized: no
Network: ethereum
Restarted: yes

[2019-04-03 02:31] tokusyu commented on #162
I'm not sure but how about upgrading to at least v2.2 series?

This release notes said v2.1 reached end of life.
https://github.com/paritytech/parity-ethereum/releases/tag/v2.2.7

It may relate to Constantinople postponement.

[2019-04-03 14:54] cxd1995 commented on #162
We will try. Will the synchronous block data be emptied after the update?
It is troublesome that we have to update the version of Parity frequently.

[2019-04-04 04:35] medvedev1088 commented on #153
Thanks for reporting this. Enabling the retry mechanism for such kinds of errors should help with this issue.

[2019-04-13 04:39] tokusyu commented on #103
I solved this problem using Apache Spark with additional tasks.
I changed my mind that this issue should be solved outside this software.
Thanks.

[2019-04-13 04:39] #103 closed

[2019-04-13 04:41] tokusyu commented on #86
I solved this problem using Apache Spark with additional tasks.
I changed my mind that this issue should be solved outside this software.
Thanks.

[2019-04-13 04:41] #86 closed

[2019-04-13 04:43] medvedev1088 opened #165 "Getting 'context canceled' error when exporting token transfers"
Reported in gitter https://gitter.im/ethereum-etl/Lobby

[2019-04-14 03:51] t2y commented on #35
This issue is not ethereum-etl, but websockets. And, the issue has already fixed.

* https://github.com/aaugustin/websockets/pull/323

[2019-04-14 04:00] t2y commented on #35
The revision is here in master branch.

* https://github.com/aaugustin/websockets/commit/9f566c5d12eae1258aa6f1991fe8cf0a7d390f97

[2019-04-14 04:09] t2y commented on #35
This fix was included in websocket-4.0.1.

[code]

https://github.com/aaugustin/websockets/compare/4.0.1...master

[2019-04-14 04:14] t2y commented on #49
It seems that https://github.com/blockchain-etl/ethereum-etl/issues/35 is the same cause as this. It's duplicated issue.

[2019-04-14 04:26] t2y commented on #146
I think this issue is about installing python pacakge, not ethereum-etl itself.

You should use pip command to install python package. Or, Anaconda and conda command might be help for you if you don't have the knowledge to setup the build environment on Windows machine.

[2019-04-15 18:15] medvedev1088 commented on #92
https://github.com/blockchain-etl/ethereum-etl#stream

[2019-04-15 18:15] #92 closed

[2019-04-22 09:14] PeHo89 opened #167 "Installing Ethereum-ETL"
Dear all,

unfortunately I can't install ethereum-etl based on the instructions in the readme. Running "pip3 install ethereum-etl" as well as cloning the repo and running "pip3 install -e ." always results in:

_Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<urllib3.connection.VerifiedHTTPSConnection object at 0x7f0b7

[2019-04-22 15:43] medvedev1088 opened #168 "Refactor batch commands to use same code and schema used in streaming"

[2019-04-23 07:21] jsonsivar opened #169 "Mythril and pyetherchain not found"
Hello - thanks for this very useful tool! I'm currently trying to run it and get an error that those 2 modules are not found.  Should they be added to `setup.py`? Wondering which version of those packages should be used, since just installing the latest version results in a version conflict for `eth-abi`.

Stack trace:
[code]

[2019-04-23 16:07] jsonsivar commented on #169
Hey - I realized the actual error was with my mount point and not that package.  Perhaps those are just warnings. Sorry for the false alarm, closing the ticket.

[2019-04-23 16:07] #169 closed

[2019-04-25 14:01] mariusndini commented on #153
I too am running into this issue constantly. Is there a work around of any kind? Some documentation n the Retry Mechanism? For me it seems to constantly be happening around blocks 4 million.

[2019-04-25 14:08] medvedev1088 commented on #153
Please try this fix https://github.com/blockchain-etl/ethereum-etl/pull/170 and let us know if it works. Note that I haven't tested the fix myself.

[2019-04-25 15:22] mariusndini commented on #153
Unfortunately same error even with the change :/
My current work around for this is to lower the amt of data that I pull back.

$ ethereumetl export_blocks_and_transactions --start-block 4100000 --end-block 4500000 --provider-uri https://mainnet.infura.io --blocks-output blocks4.5m.csv --transactions-output transactions4.5m.csv
Symbolic Execution not available: No module named 'mythril'
pyethercha

[2019-04-25 16:56] medvedev1088 commented on #153
Have you installed the fix using `pip3 install -e . `?

[2019-04-26 05:35] medvedev1088 commented on #167
Hi Peter. What is you Python version? You can check it with `python --version`.

[2019-04-26 07:04] PeHo89 commented on #167
Hy Evgeny, my python version is 2.7.15rc1. Thanks for your help!

[2019-04-26 07:06] medvedev1088 commented on #167
You will need to install one of the supported Python versions: 3.5.3 to 3.7.

[2019-04-26 07:26] PeHo89 commented on #167
Ok, I now have installed Python 3.6.7 and I receive a slightly different error:

_Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'SSLError(CertificateError("hostname 'pypi.org' doesn't match either of 'saferinternet2forward.tech.t-mobile.at', 'www.saferinternet2forward.tech.t-mobile.at'",),)': /simple/click/
  Certificate did not match exp

[2019-04-26 13:02] mariusndini commented on #153
Yes, I have tried the above. Uninstalling and reinstalling and then also trying the above. at every step it cannot download in entirety. Is it because I am Infura? would this problem go away if i attempted it on my own synced geth node?

[2019-04-26 13:40] mariusndini commented on #153
I am also curious on the pattern of failures.
`ethereumetl export_blocks_and_transactions --start-block 4200000 --end-block 4300000 --provider-uri https://mainnet.infura.io --blocks-output blocks4.3m.csv --transactions-output transactions4.3m.csv`

I ran the code above and it failed twice.
[code]
Above at just 10% and below at 90%.

[code]

[2019-05-06 17:49] lanhray opened #171 "Error Exporting ERC20 and ERC721 transfers"
![Screen Shot 2019-05-06 at 1 48 09 PM](https://user-images.githubusercontent.com/38264137/57244152-cee87900-7005-11e9-8ec7-a9d2c4ebec63.png)

[2019-05-07 08:25] medvedev1088 commented on #171
Thanks for reporting this. The messages about missing modules are expected and are warnings. The actual error message is missing on the screenshot, it should be at the very bottom of the output.

[2019-05-09 08:14] PeHo89 commented on #167
Yes, that was exactly the problem. My ISP blocks pypi.org. I simpliy installed it using another internet connection. Stupid error. Many thanks for you help!

[2019-05-16 03:19] luolixuan commented on #141
Hi, when I want to install ethereum-etl, eth-abi and mythril together, it has a version problem.
ethereum-etl 1.3.0 has requirement eth-abi==1.2.0, but you'll have eth-abi 1.3.0 which is incompatible.
mythril 0.20.5 has requirement eth-abi==1.3.0, but you'll have eth-abi 1.2.0 which is incompatible.
what can I do?

[2019-05-16 13:21] luolixuan opened #173 "No module named 'mythril.ether'"
on MacOS, When I run: ethereumetl export_geth_traces --start-block 2380000 --end-block 2380100 --provider-uri ~/Library/Ethereum/geth.ipc --batch-size 100 --output geth_traces.json

- There is an error shows up:Symbolic Execution not available: No module named 'mythril.ether' but I did install myehrill and other related package.

environment:
python: Python 3.7.3
ethereum-etl:1.3.0
eth-abi: 1.3.0

[2019-05-16 13:30] medvedev1088 commented on #173
You can safely ignore "Symbolic Execution not available' warning. Symbolic execution is not used by ethereum-etl. This warning is output by a dependency library used in ethereum-etl https://github.com/tintinweb/ethereum-dasm/blob/master/ethereum_dasm/evmdasm.py.

[2019-05-16 13:52] luolixuan commented on #173
@medvedev1088 Thanks for helping. But with this error, I can't export the geth trace in the json file.
Here is the whole output:
`Symbolic Execution not available: No module named 'mythril.ether'
2019-05-15 23:57:47,681 - ProgressLogger [INFO] - Started work. Items to process: 101.
Traceback (most recent call last):
  File "/usr/local/bin/ethereumetl", line 10, in <module>
    sys.exit(cli())
  Fi

[2019-05-16 13:59] medvedev1088 commented on #173
Try using `--provider-uri file://$HOME/Library/Ethereum/geth.ipc`

[2019-05-16 14:12] luolixuan commented on #173
@medvedev1088 Thanks! It works! Originally I thought this uri is for linux. And I searched the uri ops MacOS and changed it.  It works with the uri you provided. Thanks so much for the help!

[2019-05-29 01:58] cxd1995 opened #174 "how to find succussful transaction without receipts?"
Since the table receipt only offers the status value after block 4370000, how could we judge whether a transaction succeeds before the block 4370000? Maybe the trace table. But we notice that a transaction may have many records in the trace table. And a single error among the traces does not lead to failure and could also get successful transactions.

[2019-05-29 09:40] medvedev1088 commented on #174
You have to look at the `traces.status` column where `trace_address` is empty. Every transaction must have a single trace with empty `trace_address`. Its status should correspond to the transaction status.

[2019-06-05 01:04] jensenity commented on #153
I'm getting this error as well with running it on airflow.

`
[2019-06-05 00:49:27,605] {logging_mixin.py:95} INFO - [2019-06-05 00:49:27,605] {progress_logger.py:51} INFO - Started work. Items to process: 6342.
[2019-06-05 00:49:46,582] {logging_mixin.py:95} INFO - [2019-06-05 00:49:46,582] {progress_logger.py:70} INFO - 700 items processed. Progress is 11%.
[2019-06-05 00:49:51,324] {logging_mix

[2019-06-05 12:06] medvedev1088 commented on #153
Thanks for reporting it. I just merged this fix https://github.com/blockchain-etl/ethereum-etl/pull/170.

Tested it with this code:

[code]

Please help install the latest version from the develop branch with `pip3 install -e .`, then verify if the issue went away. If everything works I'll publish it to pip.

[2019-06-15 04:53] medvedev1088 commented on #153
@jensenity did you have a chance to try out the code with the fix?

[2019-06-28 10:41] RokoMijic opened #177 "SQL code to produce a table of all Ethereum accounts and balances by day"
As requested by @allenday, this is some SQL code which I used to create a table of ETH accounts and balances by day.

[code]

[2019-06-28 10:42] RokoMijic commented on #177
You can also see it here:

https://github.com/RokoMijic/awesome-bigquery-views/blob/master/views/balances-by-date.sql

[2019-07-03 08:17] jensenity opened #178 "The field extraData is 97 bytes, but should be 32"
`ERROR - The field extraData is 97 bytes, but should be 32. It is quite likely that you are connected to a POA chain. Refer http://web3py.readthedocs.io/en/stable/middleware.html#geth-style-proof-of-authority for more details. The full extraData is: HexBytes('...')`

The error happens when I run this code

`ethereumetl get_block_range_for_date --provider-uri=https://rinkeby.infura.io --date=2017-0

[2019-07-03 10:57] medvedev1088 commented on #178
Thanks for reporting this. No one is working on this task yet as far as I know.

[2019-07-09 19:18] moriartyj opened #179 "export_contracts does not export block_number"
Despite the [contracts schema](https://github.com/blockchain-etl/ethereum-etl#contractscsv) including block_number, export_contracts contains an empty column

[2019-07-11 06:56] medvedev1088 commented on #179
Thanks for reporting this. The documentation needs to be updated. There is a new command `extract_contracts` that also outputs block_number.

[2019-07-12 01:03] alexkroeger opened #181 "Missing data for major tokens"
The tokens table in bigquery is missing symbols for a many key tokens, e.g. DAI (0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359) and MKR (0x9f8f72aa9304c8b593d555f12ef6589cc3a579a2).

It's also missing rows entirely for certain ERC-20 tokens like Ethfinex wrapped tokens (for instance, ETHW, 0xaa7427d8f17d87a28f5e1ba3adbb270badbe1011).

[2019-07-12 05:52] medvedev1088 commented on #181
Thanks for reporting this. It seems the DAI contract returns bytes32 instead of string for name() and symbol() which doesn't comply with the ERC20 standard https://eips.ethereum.org/EIPS/eip-20. This tool should have an option to be able to handle "fuzzy" ERC20 contracts.

[2019-07-18 03:19] kushal256 opened #182 "bigquery-public-data.crypto_ethereum.token_transfers.values rounding and loss of precision"
Ethereum table `bigquery-public-data.crypto_ethereum.token_transfers`, column 'values' changed today - that field is being rounded prematurely and loosing data.  For example:
[code]
shows a value of `9.6301936323e+20` but it's really much longer see https://etherscan.io/tx/0xabf8d73447c8b8805196039702010c06201d65fe12e08bea2be2fd8cbf6d0ecc the value is `963.019363229999955968` - it's missing alot o

[2019-07-18 04:08] medvedev1088 commented on #182
Good catch! I'm working on it.

[2019-07-19 16:23] zargit opened #183 "Wrong gas and gas_used value in traces table"
When comparing the gas values between transactions and traces table, I found all the values in the traces table are wrong. For example, the figures below shows the values for block [6410090](https://etherscan.io/block/6410090) -

traces table | transactions table
------------- | -------------
![trace-table-gas-values](https://user-images.githubusercontent.com/6816611/61548559-f7381f00-aa1b-11e9-8f

[2019-07-22 16:21] kushal256 commented on #182
Thanks!  Looks like the fix was applied 3 days ago, all looks good!

[2019-07-22 16:21] #182 closed

[2019-07-25 04:36] medvedev1088 commented on #183
Thanks for reporting this. We will be able to fix it in BigQuery dataset after it's been fixed in Parity. Some details of what the gas field contains in Parity traces are given here https://ethereum.stackexchange.com/questions/31443/what-do-the-response-values-of-a-parity-trace-transaction-call-actually-repres:

[2019-07-25 04:44] medvedev1088 commented on #182
Thanks for reporting this. Let me know if you find other issues.

[2019-08-06 02:20] tomo25 opened #186 "can't use -start-block option when I try to stream"
I can't use -start-block option when I try to stream. It says "Either remove the last_synced_block.txt file or the --start-block option" even though I'm not adding last_synced_block option.
<img width="898" alt="Screen Shot 2019-08-06 at 11 16 13 AM" src="https://user-images.githubusercontent.com/38713998/62506506-e2d98c00-b83b-11e9-8c44-1cb8bfa94f7f.png">

It does work when I choose last_synced_b

[2019-08-06 02:26] tomo25 commented on #186
I removed the last_synced_block.txt file in my local directory and solved this issue.

[2019-08-06 02:26] #186 closed, assigned to nobody

[2019-08-28 05:40] fdecollibus opened #187 "Error with geth.ipc (But now with parity)"
Hi, first of all thank you for the amazing work you have done.
I am just curious about an issue I am encountering.
When I try this export (very small number) I get this error
ethereumetl export_all -s 0 -e 1000 -b 100 -p file:///mnt/hdd_data/geth/geth.ipc -o output

2019-08-28 07:35:44,646 - export_all [INFO] - Exporting blocks 00000000-00000099 to output/blocks/start_block=00000000/end_block=0000

[2019-08-30 15:00] cxd1995 opened #188 "How to find contract created in transactions?"
I find an issue about contract creation in the transaction table. In the transaction when a contract is created, the user invoke contract creation and the to_address in the table is NULL. Then how could we figure out the address of the created contract?
@medvedev1088

[2019-08-31 04:42] medvedev1088 commented on #188
I think receipt_contract_address field is what you need.

[2019-08-31 07:31] cxd1995 commented on #188
Thank you. As you mentioned, we could figure out the contract created by user in receipts table. And the contracts created by other contracts could be figured out from traces table. But after we union the two kinds of contracts. The result is different from the contract table we extract by ETL?
Is there something wrong with the contract table?

[2019-08-31 07:39] medvedev1088 commented on #188
The contracts table is created from the traces table. The Parity traces miss contract addresses from failed contract creations, while transaction receipts include those addresses. This case is described here https://github.com/blockchain-etl/ethereum-etl/issues/134#issuecomment-443510181.

[2019-08-31 08:08] cxd1995 commented on #188
The trace table is hard to understand.
I have read the answers in #134. We could only query all contract addresses from the trace table.
BUT It is still hard to figure out when these contracts are created and who created these contracts.

[2019-09-01 11:24] fdecollibus commented on #159
@medvedev1088 does it work as well with geth 1.9.2-stable-e76047e9 ? I am getting thousands of these eth_abi.exceptions.InsufficientDataBytes: but there is no contract address, so I can't verify if it's normal behaviour or I am missing some data.

[2019-09-01 12:30] medvedev1088 commented on #188
The `from_address` is usually the external address or contract that created a contract. The `block_number` and `block_timestamp` is when it was created. Do you mean it's hard to understand the trace hierarchy in case they are nested?

[2019-09-01 12:48] medvedev1088 commented on #187
That's strange. What version of geth are you running?

I've just tried it with Geth/v1.9.2-stable-e76047e9/darwin-amd64/go1.12.7 and it succeeded.

[2019-09-01 13:04] medvedev1088 commented on #159
@fdecollibus I added function name and contract address in the log message https://github.com/blockchain-etl/ethereum-etl/pull/189. An example log message is:

`An exception occurred in function totalSupply of contract 0xf4eCEd2f682CE333f96f2D8966C613DeD8fC95DD. This exception can be safely ignored.`

You would need to check out that branch to try it out.

[2019-09-18 10:17] fdecollibus commented on #187
Hi, I tried a clean installation and it worked, pretty weird... but thank you for your time

[2019-09-18 10:17] #187 closed, assigned to nobody

[2019-11-03 16:57] fdecollibus opened #190 "ExportAll stops with "TypeError: int() can't convert non-string with explicit base" after block 7200000"
Hi

I've tried both parity and ethereum, but this error persists..

2019-11-03 17:55:30,441 - export_all [INFO] - Exporting transactions from blocks 07200000-07200099 to data2/transactions/start_block=07200000/end_block=07200099/transactions_07200000_07200099.csv
2019-11-03 17:55:30,441 - ProgressLogger [INFO] - Started work. Items to process: 100.
Traceback (most recent call last):
  File "/home/

[2019-11-03 17:29] medvedev1088 commented on #190
Check if this similar issue helps https://github.com/blockchain-etl/ethereum-etl/issues/187

[2019-11-03 17:53] fdecollibus commented on #190
Incredible, I updated ethereumetl, tried again with parity ipc, and now seems to work, I am waiting for the export to finish, thank you so much for your incredible work

[2019-11-04 06:27] fdecollibus commented on #190
Just one last thing: do  sporadic exceptions in logs like
 2019-11-04 07:24:56,298 - evmdasm.disassembler [ERROR] - invalid instruction: PUSH32
means something is wrong with my disassembler version or I can safely ignore them?

[2019-11-07 15:40] meowsbits opened #192 "pip3 install ethereum-etl[streaming] fails (Error compiling Cython file)"
[code]

[code]

I also get the same error when running:
[code]

[2019-11-07 16:18] medvedev1088 commented on #192
See if the answer here helps https://unix.stackexchange.com/questions/519078/vapoursynth-installation-problems

[2019-11-08 11:24] meowsbits commented on #192
Yep, that did it. Thanks!

[2019-11-08 11:24] #192 closed, assigned to nobody

[2019-12-11 08:08] cxd1995 opened #193 "Error encountered after Istanbul hardfork"
We encountered the error on December 9.
**It seems to be caused by Istanbul hardfork.**
**We are trying to figure it by updating parity and go ethereum client in our server.
Does it mean that we should update the parity and go ethereum client version frequently?** It is very troublesome.

The error is listed below:
**Symbolic Execution not available: No module named 'mythril'**
Traceback (most rec

[2019-12-26 23:13] meowsbits commented on #178
Have reproduced, while trying to stream from Goerli testnet:

[code]

[2020-02-03 10:15] medvedev1088 commented on #181
Contract 0xaa7427d8f17d87a28f5e1ba3adbb270badbe1011 doesn't implement `approve(address,uint256)` required by ERC20 standard so technically not an ERC20. Apparently Etherscan uses "fuzzy" detection of ERC20's.

[2020-02-03 10:16] medvedev1088 opened #194 "Contract 0x6b175474e89094c44da98b954eedeac495271d0f is not detected as ERC20"
https://etherscan.io/address/0x6b175474e89094c44da98b954eedeac495271d0f

[2020-02-03 14:10] medvedev1088 commented on #193
Yes every time there is a hardfork the clients needs to be updated. There were frequent hardforks in December last year unfortunately, which might have caused trouble for many.

[2020-02-03 14:11] #193 closed, assigned to nobody

[2020-02-03 14:11] #167 closed

[2020-02-03 14:11] #146 closed

[2020-02-03 14:13] #134 closed

[2020-02-03 14:15] #153 closed

[2020-02-03 14:15] #165 closed

[2020-02-03 14:16] #138 closed

[2020-02-03 14:17] #188 closed, assigned to nobody

[2020-02-03 14:18] medvedev1088 commented on #177
Thanks that's very useful. I've created a similar repo following your idea https://github.com/blockchain-etl/awesome-bigquery-views, and put a link back to your repo.

[2020-02-03 14:18] #177 closed

[2020-02-03 14:19] medvedev1088 commented on #183
Expected behavior according to the stack overflow post.

[2020-02-03 14:20] #183 closed

[2020-02-03 14:20] #173 closed

[2020-02-03 14:20] #174 closed

[2020-02-03 14:21] #150 closed

[2020-02-03 14:22] #159 closed

[2020-02-03 14:23] #151 closed

[2020-02-03 14:24] #162 closed

[2020-02-03 14:24] #168 closed

[2020-02-03 14:46] medvedev1088 opened #195 "Improve token detection"
Below are existing issues with detecting ERC20/ERC721 tokens:

1. Contracts where function 4byte hashes are not in init block: ex. 0x6b175474e89094c44da98b954eedeac495271d0f (Likely due to LibNote).
    - https://etherscan.io/address/0x7d1afa7b718fb893db30a3abc0cfc608aacfebb0#code
2. Contracts where one of methods is not implemented. ex. 0xaa7427d8f17d87a28f5e1ba3adbb270badbe1011 doesn't implement

[2020-02-04 03:51] jensenity commented on #194
https://github.com/blockchain-etl/ethereum-etl/blob/e8b6fe742e19e06406eda39e41fa4d6158765c57/ethereumetl/service/eth_contract_service.py#L54

https://etherscan.io/address/0x6b175474e89094c44da98b954eedeac495271d0f#code
Line 91: `    mapping (address => mapping (address => uint)) public allowance;`

Shows that this contract doesn't follow the eth_contract_service's is_erc20 rule. Line 91 uses allow

[2020-02-04 06:37] medvedev1088 commented on #194
AFAIK Solidity creates accessor methods for public fields automatically. There is a corresponding allowance(address, address) method as can be seen on Etherscan https://etherscan.io/address/0x6b175474e89094c44da98b954eedeac495271d0f#readContract.

[2020-02-08 16:03] lastmjs opened #196 "geth crashing often"
Hey! Great tool. It seems I can't grab more than about 10,000 records at a time from geth before it freezes up after a while...to be clear, I'm not grabbing all blocks at once, I'm trying to piece it up in 10,000 block chunks. I would love to do more, like 50,000 or 100,000 or 1,000,000, but geth just can't seem to handle it. Any suggestions? Or is there any way ethereum-etl could handle this situ

[2020-02-08 16:25] medvedev1088 commented on #196
Could you include the commands that you use? This might happen if the --batch-size option is too big.

[2020-02-08 17:59] lastmjs commented on #196
Ah, I'm doing this:

[code]

I am not specifying the batch size. What is the default batch size? Any suggestions on a good batch size?

[2020-02-08 18:33] lastmjs commented on #196
So now I'm wondering if there are defaults for `--batch-size` and `--max-workers`. It would be nice if the documentation could explain this

[2020-02-09 10:40] medvedev1088 commented on #196
The default for --batch-size is 100, --max-workers is 5. I've just created this PR to display default values when using `--help` https://github.com/blockchain-etl/ethereum-etl/pull/197.

[2020-02-21 09:11] medvedev1088 opened #199 "Include trace_id in CSV output for export_traces command"

[2020-02-21 09:11] medvedev1088 opened #200 "Add Postgres exporter for streaming"

[2020-02-24 21:48] richardpringle opened #201 "Include stateDiff in traces"
Hey @medvedev1088, looks like you're the one maintaining this repo. Please point me in the right direction if there's a better place to make this feature request as this would break what's currently in BigQuery but it would be amazing to see state-diffs in the data output by the trace. I'm not too familiar with the python web3 library, but the `'stateDiff'` is one of the possible params for the pa

[2020-02-25 08:09] medvedev1088 commented on #201
Hi Richard,

You mentioned you need state diffs for calculating the miner rewards. Can't
you use the traces table and filter by trace_type=reward for this? I've
used the traces table to calculate balances of all addresses including
miners
https://medium.com/google-cloud/how-to-query-balances-for-all-ethereum-addresses-in-bigquery-fb594e4034a7
.

Otherwise feel free to submit an issue on GitHub.

B

[2020-03-17 16:54] medvedev1088 opened #204 "Write a doc page listing SLOs for BigQuery datasets"
SLOs might include:
- Maximum data latency
- Number of duplicate rows per year
- Other consistency indicators
- Availability

[2020-04-02 15:22] jiangxjcn opened #206 "Error in export_geth_traces"
This is my export command:
**python -m ethereumetl export_geth_traces --start-block 0 --end-block 200 --provider-uri http://127.0.0.1:8545 --output traces/geth_traces.json**

The error is:
**ValueError: result is None in response {'jsonrpc': '2.0', 'id': 0, 'error': {'code': -32000, 'message': 'parent 0000000000000000000000000000000000000000000000000000000000000000 not found'}}.**

I think the pro

[2020-04-02 15:43] jiangxjcn commented on #206
And if i change command as follow:
**python -m ethereumetl export_geth_traces --start-block 1 --end-block 200 --provider-uri http://127.0.0.1:8545 --output traces/geth_traces.json**

The error become:
**ValueError: result is None in response {'jsonrpc': '2.0', 'id': 130, 'error': {'code': -32000, 'message': 'required historical state unavailable (reexec=128)'}}.**

[2020-04-02 15:56] medvedev1088 commented on #206
Maybe this https://github.com/ethereum/go-ethereum/issues/18441

[2020-04-03 03:00] jiangxjcn commented on #206
It will take several day. Geth did not upgrade before causing stuck in 920W block height for a long time.The synchronization started on Monday after an update to the geth version.

[2020-04-06 07:14] jiangxjcn commented on #206
@medvedev1088
I did not start geth with gcmode=archive before blockheight 9300000.
Does this mean I have to synchronize from blockheight 0 if I want to get the previous block state to trace transaction.
Or will geth begin to get the state of old block after it reach the newest blockheight?(if i restart geth with setting gcmode=arvhive at the height of 9300000)

[2020-04-06 07:18] medvedev1088 commented on #206
I believe you have to start it with gcmode=archive from the beginning. But it may take a couple of months and TB of disk for the full archival sync.

[2020-04-12 05:19] jiangxjcn commented on #206
@medvedev1088
I'm sorry but want to ask why the number of records in traces so different from the number of internal transactions in the etherscan.
In the google big query, the row of trace is around 1.7billion, but internal transaction in etherscan is only around 0.12billion.

[2020-04-12 06:18] medvedev1088 commented on #206
For some reason Etherscan doesn't include all of the traces from Parity. For example here https://etherscan.io/vmtrace?txhash=0xcbcdc7e73d93be6a879aff31893e08b893f6c0397fb5bdb1410d430335d60f30&type=parity#raw you can see 6 calls to contract 0x58db1d7b86cbe2cd8383bf0b1cd8cc9e3c93d525, while on this page https://etherscan.io/address/0x58db1d7b86cbe2cd8383bf0b1cd8cc9e3c93d525#internaltx it shows only

[2020-04-12 07:30] jiangxjcn commented on #206
Thanks for your answer.You are always so warm-hearted.
I compare these transaction and suspect that etherscan don't show internal transactions with type = call and value = 0.
Maybe that's useful for some researches considering that sync an archive node require big ssd and a long time.

[2020-04-14 05:41] jiangxjcn commented on #206
@medvedev1088
My tutor required me not to use data from etherscan and get internal transaction with full mode(without running an archive node considering we cannot get big ssd to use in the near future).
Since geth or parity will replay all the transaction when sync with full mode, i think it's possible to record these internal transaction and drop those historical state information after getting

[2020-04-14 07:14] medvedev1088 commented on #206
That's an option. You could use pruning_history param and `ethereumetl stream` command https://ethereum-etl.readthedocs.io/en/latest/commands/#stream to export the latest blocks to Pub/Sub or Postgres. But even with this approach it will be challenging, as it's going to take a long time for parity/geth to run through all transactions (at least 1 month), and you'll have to monitor the process close

[2020-04-14 14:50] realmeh commented on #178
i fix it by:
from web3.middleware import geth_poa_middleware
self.web3.middleware_onion.inject(geth_poa_middleware, layer=0)

[2020-04-15 20:17] adamalexandru4 commented on #178
I tried also with middle geth but it still fails.
What is changing after you inject geth in the web3 state?

[2020-04-22 20:59] campfireman opened #211 "empty to_address and unknown transactions"
Hey guys,
your tool is a great! I have a question and I don't know if it's related to your tool or to ethereum in general. I downloaded all transactions from march (approx. 22 million) and roughly 57.000 of them have empty to_address columns, and the ones i checked to not appear in the specified block on etherscan.

Any help and hints would be greatly appreciated, I'm really interested to find the

[2020-04-23 08:22] medvedev1088 commented on #211
Most likely it's a contract creation transaction. Do you have an example row for this?

[2020-04-23 12:42] jiangxjcn commented on #206
@medvedev1088
It seems i have successfully get trace transaction with a full parity client.
But now i have a few questions about how to deal with these data with neo4j.
I've seen the ethereum data 's storage schema you designed for neo4j.
At first, I conceived a similar plan.
But then i realized that relationship cannot set index(You have already mentioned this question ).
Later, I considered use

[2020-04-23 16:17] medvedev1088 commented on #206
Have you considered full-text search indexes? It's the primary workaround suggested here https://github.com/neo4j/neo4j/issues/7225. What is your use-case for which you need relation indexes?

[2020-04-24 04:49] jiangxjcn commented on #206
For searching transaction between a several time.
Apart from this, internal transactions were called by external transactions(or internal transactions). Using node to represent transaction will make the relationship clear.

[2020-04-24 05:36] medvedev1088 commented on #206
This makes sense. As you mentioned the number of nodes and the required storage will go up significantly. My guess is you'd need more than 3TB and a few days for the full load. If you decide to pursue this idea, let me know how it goes.

[2020-04-24 05:56] jiangxjcn commented on #206
@medvedev1088
I'll continue to compare the two storage methods and dinally decide. Maybe i will give it a try.
Another question.
I am exporting trace with parity and ethereumetl.
But after comparing the data i get with ethereumetl and the data you put in google big query, I found that there are some difference between them.
On the one hand,  i did not find trace_type = genesis and daofork in my da

[2020-04-26 19:57] campfireman commented on #211
Yes, those are indeed contract creations. Could not find/reproduce which ones were not indexed on etherscan. Probably a mistake on my side. Sorry for bothering and thanks for the quick reply!

[2020-04-26 19:57] #211 closed, assigned to nobody

[2020-04-27 11:44] medvedev1088 commented on #206
When you use the `ethereumetl export_traces` command you can specify `--genesis-traces` and `--daofork-traces` options to include genesis and daofork traces in respective blocks. These types of traces are generated by ethereumetl not parity that's why these flags are False by default.

That's interesting. Could you provide a few examples? 1% difference is quite a lot.

[2020-04-27 12:06] jiangxjcn commented on #206
@medvedev1088
Thanks for your answer.
Fortunately, I don't think I'll use genesis and daofork trace.(Even though they are needed, i can get them in a day)

using this sql in google big-query
select count(*)
from bigquery-public-data.crypto_ethereum.traces
where block_number>=2220001 and block_number<=2240000;
I get the result of 244592
But the number is 244418 in the file i parse with ethereumetl(

[2020-04-27 12:13] medvedev1088 commented on #206
You could try uploading your csv to a BigQuery table, then querying trace_ids that are in crypto_ethereum.traces table but not in your csv using `trace_id not in (select trace_id from "your_table")`. This will help pinpoint the issue. You can filter by block_timestamp too to reduce the costs.

[2020-04-27 12:14] jiangxjcn commented on #206
OK, i will have a try.

[2020-04-27 12:16] medvedev1088 commented on #206
Thanks!

[2020-04-29 09:17] jiangxjcn commented on #206
@medvedev1088
It seems that to continuely use google big query ,i need to apply a credit card. Since i was still a student, it may take several weeks. I'll contact you after I find the difference.

And an other question.
I use extract_contract --trace traces.csv --output contracts command.
Although the contracts seems to be parsed correctly(it has block_number).
But in the parsing process , many e

[2020-05-05 20:21] gitr0n1n opened #213 "Ethereum Classic Node Update for June Hardfork"
Ethereum Classic is scheduled for a hardfork upgrade in early June, 2020. Please update your clients to a Phoenix compatible version. You can find compatible version numbers and guides here:

https://ethereumclassic.org/development/clients

Can you confirm your intent to upgrade for Google BigQuery Public Datasets? Thank you much.

Please note: OpenEthereum (ParityEthereum) has not made an officia

[2020-05-07 06:51] jiangxjcn commented on #206
@medvedev1088
In addition to the difference about trace between geth and parity, were there any other difference between the data parse with geth and parity(both using ethereumetl)?
To get trace data, i run a new parity node, but the geth client seems to take up too much space.
I was wandering whether i could use ethereumetl with parity to get all the data instead of using parity get trace and usi

[2020-05-07 09:08] medvedev1088 commented on #206
The only difference we found is in traces. We also parse contract data and tokens from traces so those may differ too.

What Parity options do you use when running the node?

[2020-05-07 09:17] jiangxjcn commented on #206
I set parity with a toml file
[parity]
mode = "active"
base_path = "/mnt/parity"
[network]
warp = false
[rpc]
port = 9999
interface = "local"
server_threads = 2
[footprint]
tracing = "on"
pruning = "fast"
pruning_history = 30000
cache_size = 128000

[misc]
logging="sync=debug"
log_file = "/mnt/parity.log"
color = true

[2020-05-07 09:35] medvedev1088 commented on #206
@jiangxjcn Thanks! How long did it take to sync the node with this config and how much disk space does it use?

[2020-05-07 10:58] jiangxjcn commented on #206
@medvedev1088
It takes about 15 days. I begin to sync it from 2020/4/22 with parity 2.5.13. Now the sync height is around 940W block. It's expected to take another three days to catch up the newest block.
(It seems that parity 2.7.2 has something wrong(many users report this problem) and always be sunk when syncing. Try not to use this version.)

The total disk parity use now is 980GB.  According

[2020-05-11 14:02] YazzyYaz commented on #213
Google BigQuery has already been confirmed as ready for Phoenix so this ticket isn't needed.

[2020-05-11 14:28] #213 closed, assigned to nobody

[2020-05-16 03:58] franckc opened #215 "Add support for extracting Origin Protocol's data"
Per @allenday's recommendation, I'm filing this issue to discuss the possibility of adding capabilities for extracting data from [Origin Protocol](https://www.originprotocol.com/).

For context, Origin Protocol implemented an [open source platform](https://github.com/OriginProtocol/origin) on top of Ethereum and [IPFS](https://ipfs.io/) for building decentralized marketplaces. [shoporigin.com](htt

[2020-05-18 02:32] allenday opened #216 "Add support for ABI parsing"
Proposed design to implement ABI parsing as part of Ethereum ETL. This allows us to extract more meaningful structured data from topics and events.

![ABI-parsing](https://user-images.githubusercontent.com/436031/82168434-57744780-98f1-11ea-9bee-8907104e18f9.png)

The design introduces a dependency on an ABI repository. How we will assemble these is TBD, probably we need a new repo with third-part

[2020-05-18 02:36] allenday commented on #216
See related issue #215 from @franckc which can use emitted events to trigger downstream processing (IPFS URI resolution and additional data retrieval).

[2020-05-18 02:39] #35 closed

[2020-05-18 02:41] #49 closed

[2020-05-18 02:42] #82 closed

[2020-05-18 02:52] #179 closed

[2020-05-18 02:56] allenday commented on #110
this was merged https://github.com/ethereum/go-ethereum/pull/18445

cc @arachnid

[2020-05-18 02:58] #171 closed

[2020-05-18 02:59] #196 closed, assigned to nobody

[2020-05-21 09:54] medvedev1088 commented on #215
This looks great!

I saw your PR - that's a good example of how to extract data that is stored both on chain and on IPFS. Let me know when it's done so I can review and merge it.

Thanks!

[2020-05-21 21:27] franckc commented on #215
@medvedev1088 Thanks, appreciate it :) I'll clean up my PR, add unit tests, etc.. and will ping you in a few days from now once it is ready for you to review...

[2020-05-27 08:30] cxd1995 opened #218 "Error encounted while syncing data after May 17 2020"
**We have been collecting data from Ethereum using ethereum-etl for years. But recently we have encountered an error. More specifically, the error started from May 17 2020. The error is copied below. Since there is no fork in Ethereum blockchain recently, we could not figure out the reason.**

Symbolic Execution not available: No module named 'mythril'
Traceback (most recent call last):
  File "/h

[2020-05-27 12:24] medvedev1088 commented on #218
Interesting. Looks like the node is not fully synced. Check what's the latest block number returned by the node and whether it's outside the date you're trying to export.

PS: I haven't noticed any issues in production.

[2020-06-14 12:54] #215 closed, assigned to allenday

[2020-06-15 17:25] franckc commented on #215
Great. Thanks @medvedev1088 for merging this in, appreciate it!

[2020-07-13 22:21] dportabella opened #220 "error: The method eth_newFilter does not exist/is not available"
[code]

[2020-07-14 05:40] medvedev1088 commented on #220
Infura doesn't support this method. You will need another node provider or to run a node yourself.

[2020-08-09 14:30] #220 closed, assigned to nobody

[2020-08-13 09:24] cxd1995 opened #221 "ETH 2.0 is coming soon, can we still use the scripts?"
ETH 2.0 is coming soon, can we still use the scripts?
And what trouble will it bring?

[2020-08-28 16:37] rjdenis opened #223 "Streaming traces in PostgreSQL with Geth trying to call Parity trace_block method"
When streaming into DB with command "ethereumetl stream -e trace --lag 3 --provider-uri file:/home/ether/.ethereum/geth.ipc --output=postgresql+pg8000://root:@127.0.0.1:5432/ethereum" it seems that streamer trying to use the Parity trace_block method, instead Geth debug RPC, meanwhile "ethereumetl export_geth_traces" working nice with Geth without errors.

2020-08-28 19:30:43,246 - root [INFO] - U

[2020-08-28 16:41] medvedev1088 commented on #223
Thanks for reporting this.

Geth is not supported yet for the stream command, only parity.

[2020-08-31 11:07] rjdenis commented on #223
@medvedev1088 with Parity everything is working okay except stream trace in PostgreSQL again, the "traces" table is empty even if I execute command "ethereumetl stream -e trace --provider-uri file:/usr/local/share/openethereum/jsonrpc.ipc --output=postgresql+pg8000://root:@127.0.0.1:5432/ethereum". This situation is only with traces, other params (log, transactions etc) are working okay with datab

[2020-10-08 19:15] sui414 opened #224 "cannot pip install due to newer python version"
[code]

current python is 3.8:
[code]

can you plz add support for newer python version, or it's better to downgrade python?

[2020-10-09 10:20] medvedev1088 commented on #224
Thanks for reporting this @sui414.

I just published a new version that should work with Python 3.8 https://pypi.org/project/ethereum-etl/1.6.0/. Please check if you can use it.

[2020-10-09 19:39] sui414 commented on #224
Yes - worked perfectly. Thanks for fix!

[2020-10-09 19:39] #224 closed, assigned to nobody

[2020-11-17 18:00] io-raid opened #226 "Question About Parity & Traces"
Hi, I had a couple of questions regarding the required Parity setup for eth-etl.

To export all data from the eth chain with eth-etl (blocks & txs, receipts and logs, token transfers, contracts, and traces), what sort of config is needed for the Parity node?

My assumption is that we would need `--pruning archive` and `--tracing on` flags for the node, is this correct?

Also, does eth-etl only wor

[2020-11-20 05:26] Guangye-C commented on #134
It seems even when a contract was successfully created it, it may still not be in `bigquery-public-data.crypto_ethereum.traces`

For example, I cannot find the Compound Wrapped BTC:  https://etherscan.io/txs?a=0xc11b1268c1a384e55c48c2391d8d480264a3a7f4&p=296

Is it that as long as there was one failed transaction involving this contract, the contract will not appear in bigquery at all even if it w

[2020-11-20 05:35] medvedev1088 commented on #134
@Guangye-C I can find it in the traces table:
[code]

It's also in the contracts table.

[2020-11-20 15:17] Guangye-C commented on #134
@medvedev1088 Thank you! I see where I went wrong.

[2020-11-21 05:16] Guangye-C commented on #134
@medvedev1088 A follow-up question. If I'm looking for all transactions involving a specific token, is there a place to find it other than the token_transfer dataset on bigquery? Does the ethereum token_transfer dataset include internal transfers, or only those made by externally owned account? Sorry if the answer is obvious, I'm new to Ethereum data.

Thank you for your help!

[2020-11-25 10:57] SirFrankieCrisp opened #227 "Excpetions raised when exporting blockchain data"
I have a geth node running on my Linux machine and am trying to export the data. I have installed ethereum-etl thorugh pypi and am trying to run follwing command:

` ethereumetl export_blocks_and_transactions --start-block 0 --end-block 500000 --provider-uri file://~/Documents/.ethereum/geth.ipc --blocks-output blocks.csv --transactions-output transactions.csv `

After running the command, I get a

[2020-11-29 13:20] allenzhao commented on #227
Did you manage to solve this? I encountered a similar error when streaming the file and an installation of the package from the source solve the issue for me.

[2020-11-29 14:04] medvedev1088 commented on #227
@SirFrankieCrisp the `Symbolic Execution not available` errors are warning and can be ignored. They are produced by one of dependencies

[2020-11-30 10:12] SirFrankieCrisp commented on #227
@medvedev1088 Okey, then I'll disregard that error. I also found out the other errors. It was totally my fault. The path to my geth.ipc was wrong... 🤦 Thanks!

[2020-11-30 10:13] SirFrankieCrisp commented on #227
@allenzhao Do you mean buidling the mythril.ether package from source or ethereum-etl itself?

[2020-11-30 10:13] #227 closed, assigned to nobody

[2020-12-01 17:42] io-raid commented on #206
I see that you need parity to ETL full traces from eth chain. However, is it possible to use OpenEthereum 3.1.0 instead?

[2020-12-02 03:40] jiangxjcn commented on #206
I did not update parity to 3.+ version.
You can have a try.

[2020-12-02 14:58] DrIanGregory opened #228 "stream to Postgres - blocks to sync 0 - using uri: geth.ipc - not working"
# Using geth.ipc for streaming data can not locate blocks to sync (but works if syncing using uri as MainNet):

**# Does not work:**
sudo ethereumetl stream --provider-uri file:///var/database/raw_data/geth/geth.ipc --output=postgresql+pg8000://ethereum:ethereum@127.0.0.1:5432/ethereum --last-synced-block-file /var/database/raw_data/geth/last_synced_block.txt

**Output: 2020-12-02 14:42:26,129 - r

[2020-12-02 15:49] SirFrankieCrisp commented on #228
Not 100% sure about this, but I think geth is not supported in the stream command, only parity. See the answer of #223

[2020-12-02 18:18] io-raid commented on #206
@jiangxjcn I've heard that OpenEth 3.1.0 is a backport of Parity 2.5.13, I will give it a try. Is your Parity 2.5.13 node still successfully synced? No problems with consensus or any other bugs?

[2020-12-04 11:59] jiangxjcn commented on #206
I stop the syncing process last month due to the lack of disk.
There is no problem before i stop the process.(it sync with the newest block)

[2020-12-04 21:55] io-raid commented on #226
@medvedev1088 could you please provide some insight into this? Also wondering if it is possible to use eth-etl with OpenEthereum 3.1.0. Thank you 🙂

[2020-12-05 05:33] medvedev1088 commented on #226
@io-raid we use `parity/parity:v2.7.2-stable`, I believe it will work with open ethereum too.

The config we use is `--pruning auto` and `--tracing on`

[2020-12-05 15:51] io-raid commented on #226
Ah I see thank you! And I imagine `--pruning auto` would default to `fast` in your case?

[2020-12-05 15:53] medvedev1088 commented on #226
correct it's `--pruning fast` actually

[2020-12-15 16:38] edisinovcic opened #229 "[REQUEST] Docker image on dockerhub"
It would be great to have a docker image on docker hub that can be pulled and used without building it locally. New images builds can be setup in CI so it's won't be any more work than it currently is.

[2020-12-15 16:39] edisinovcic commented on #229
It's at the bottom of the docs, didn't see it, closing :)

[2020-12-15 16:39] #229 closed, assigned to nobody

[2020-12-16 17:47] SirFrankieCrisp opened #230 "Exporting Geth Traces doesn't work"
I'm running an archive node from scratch using the following command:
`geth --syncmode "full"  --gcmode "archive" --datadir "~/ChainData/ArchiveSync"`

I am currently on block 200'000.

When I try to export geth traces with this command:
`ethereumetl export_geth_traces --start-block 0 --end-block 100000 --provider-uri file://$HOME/ChainData/ArchiveSync/geth.ipc --output geth_traces.csv`
or the sam

[2020-12-17 10:47] SirFrankieCrisp opened #231 "Streaming transactions, logs, token_transfer, trace to PostgreSQL doesn't work"
I succeeded in streaming block data into a postgresql database from a local openethereum node. When I try streaming transactions, traces, or any other of ther possible entities I get the below listed output. If I do a select statement in the database, I don't see any entries (except for the blocks).
Does it maybe have to do with openethereum (since as I saw form another issue, the devs use parity

[2020-12-17 11:56] medvedev1088 commented on #231
Hello, the first few thousand blocks don't have any transactions and logs / token transfers. You should see traces though

[2020-12-17 12:29] SirFrankieCrisp commented on #231
@medvedev1088 Thanks for your reponse. I now tried streaming blocks, transactions, traces, token_transfers and logs all at the same time, but besides blocks there is nothing in the database. There are now at least 15'000 blocks in the db but still no transactions or anything. Also no traces :/ No error messages are displayed, it looks like it is really just importing blocks or so

[2020-12-17 12:33] SirFrankieCrisp commented on #231
If I look through the ouput of the command, there seem to be only "insert into blocks' statements and no insert into transactions or traces or whatever.

[2020-12-17 13:17] SirFrankieCrisp commented on #231
You where right. The first transaction happens on block 46167. Now transactions show up. Still no logs, traces, receipts or token_transfers though:/ Let's see if anything changes a few tens of thousand of blocks down the line.

[2021-01-09 12:10] grgcmz opened #232 "Failing to Stream data to Postgresql DB"
Hello! Thank you for your hard work wiht this project!
I'm encountering some issues when running the following command to stream into a postgres database:
[code]
This is the output I get. Same thing when trying to runn it without the `-e` option

[code]

The Database is running, openethereum is also syncing. Pretty much all the scripts otherwise run, so the path and such should be correct.

Thanks

[2021-01-09 12:42] medvedev1088 commented on #232
Thanks for reporting!

Not sure what the problem is. Try upgrading to v1.6.1 and see if it works. Just now I published a fix that might help.

[2021-01-09 13:18] grgcmz commented on #232
Thank you so much! It is now working correctly with the update!
Do you have an idea when contracts and tokens will be supported in the streaming command? :)

[2021-01-15 11:54] HaveYouTall opened #234 "Symbolic Execution not available: No module named 'mythril.ether'"
When I tried to execute this ethereumetl extract_csv_column --input transactions.csv --column hash --output transaction_hashes.txt, I got the wrong message bellow
[code]
And the transaction_hashes.txt file is empty! (It may cause by the empty transactions.csv) Can anyone help me with this? Thanks!

And by the way, I got the `transactions.csv` from this
[code]
And it also shows the same No module m

[2021-01-15 13:36] medvedev1088 commented on #234
The reason the files are empty is there are no transactions in the early Ethereum blocks.

You can ignore the warning, it's from a dependency library.

[2021-01-17 02:09] HaveYouTall commented on #234
Thanks, I will try more blocks and see if it is going well.

[2021-01-18 07:18] HaveYouTall opened #235 "BatchWorkExecutor [ERROR] An exception occurred while executing work_handler."
When I used the command
[code]
It shows me the following output
[code]

I'm not sure if the error information `BatchWorkExecutor [ERROR] - An exception occurred while executing work_handler.` really matters. Because when the command finished (though finished with an error message), I got a blocks.csv file and a transactions.csv file exactly and both of the files seem well with the size of 645M and

[2021-01-18 07:21] #234 closed, assigned to nobody

[2021-01-22 02:19] Blazar221 opened #236 "ValueError: {'code': -32000, 'message': 'execution reverted'}"
Recently when I ran export_all, it crashed when exporting tokens, and I got this:
--------------------------------------------------------------------------------------
2021-01-06 13:08:04,246 - ProgressLogger [INFO] - Started work.
Traceback (most recent call last):
  File "/home/blockchain/anaconda3/bin/ethereumetl", line 11, in <module>
    sys.exit(cli())
  File "/home/blockchain/anaconda3/lib

[2021-01-26 00:39] 70nyIT opened #237 "Cannot see WETH - ETH swap in token transfers"
Ethereum ETL version: v.1.5.2

I am running into an issue. Here's the following scenario, with an example.

Transaction :
https://etherscan.io/tx/0x6c69a07b0e65e70a1b08131f8675b8d3caeecccdcc3de5dd2feb80d27fd97aa1

At the end of this transaction there is a swap of WETH for ETH. Transactions like this happens pretty often (the account in the example above has thousands of transactions like this).

I

[2021-01-26 00:45] 70nyIT commented on #237
As a further reference, this missing transaction will affect also the query to evaluate the 'Token balance for any address on any block height' (reference https://evgemedvedev.medium.com/exporting-and-analyzing-ethereum-blockchain-f5353414a94e   , article of @medvedev1088 )

[2021-01-26 09:36] medvedev1088 commented on #237
Most likely it's because WETH issues Deposit and Withdraw events instead of Transfer when tokens are minted and burned? Most other tokens issue Transfers from/to 0x00.. for mints and burns.

[2021-01-26 09:48] 70nyIT commented on #237
thanks @medvedev1088 for your answer. Yes, I was thinking the same about the reason, happy to see we agree.
My question is now, what can be a good workaround? Maybe to be included in the tool too. Otherwise, just looking at transfers, the correct total amount will be incorrect, especially cause it affects WETH, one of the most used token.

[2021-01-26 09:49] Blazar221 commented on #236
Ok I just figured out my ethereumetl was too old, I cloned the latest version and it worked well, although this warning was not eliminated.

[2021-01-26 09:49] #236 closed, assigned to nobody

[2021-01-26 09:55] medvedev1088 commented on #237
The solution we ended up with is parsing any custom events in ethereum-etl-airflow e.g. for WETH https://github.com/blockchain-etl/ethereum-etl-airflow/tree/master/dags/resources/stages/parse/table_definitions/weth then amending them to token transfers. Here are instructions for easily adding any Ethereum contract to BQ https://towardsdatascience.com/how-to-get-any-ethereum-smart-contract-into-big

[2021-02-08 09:15] contxtsio-jetson commented on #237
try this out. :)
[code]

[2021-03-02 01:59] rphansen91 commented on #178
@realmeh Can you elaborate on where you made the change?

[2021-03-02 12:25] xtaci commented on #178
has this fixed?

[2021-03-05 01:36] alexlee85 commented on #178
tks, @realmeh it works~~~

[2021-03-06 05:17] sunysen opened #239 "get token The method trace_block does not exist/is not available"
command
[code]
[code]

[2021-03-06 05:29] medvedev1088 commented on #239
Infura doesn't open this method unfortunately. You will need to run your own node or use something like https://www.quiknode.io/ if you need traces, contracts or tokens with `stream`

[2021-03-07 01:03] sunysen commented on #239
[code]
[code]

To build a node, do I have to use parity,Why do you need to use the trace_block method to get the token

[2021-03-11 15:41] alexon1234 opened #240 "Proposal - Allow to get information about tokens even if there are not ERC20 o ERC721"
Hi,

I would like to propose to remove or allow to override the current filter is placed in the `ExtractTokensJob` class that filters all the contracts that are not erc20 or erc721.
There are multiple contracts that are not erc20 neither erc721, but they expose the `symbol()` and `name()` methods, so we could still populate the tokens.csv with this information.

Currently, in the repository https:

[2021-03-11 16:54] medvedev1088 commented on #240
I like this idea, it would increase the coverage for tokens that return `byte32` instead of `string` for symbol and name.

I listed some other cases when token detection https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/jobs/export_contracts_job.py#L82 doesn't work https://github.com/blockchain-etl/ethereum-etl/issues/195

[2021-03-11 20:36] alexon1234 commented on #195
Hey again,

I saw that we have an error for the token https://etherscan.io/address/0xd1e5b0ff1287aa9f9a268759062e4ab08b9dacbe
On the BigQuery we have it mark as not an ERC721, but in reality it is
[code]

The code for checking if is an ERC20 or an ERC721 is using the `function_sighashes` field, but in this case is empty

[code]

Seems we have 27985829 contracts without `function_sighashes` field

[2021-03-18 23:43] rphansen91 commented on #178
@alexlee85 Where did you make this change?

[2021-03-19 00:54] rphansen91 commented on #178
Here is my stack trace after trying to inject the poa middleware

`Traceback (most recent call last):
  File "/ethereum-etl/blockchainetl/streaming/streamer.py", line 77, in _do_stream
    synced_blocks = self._sync_cycle()
  File "/ethereum-etl/blockchainetl/streaming/streamer.py", line 89, in _sync_cycle
    current_block = self.blockchain_streamer_adapter.get_current_block_number()
  File "/eth

[2021-03-19 06:15] medvedev1088 commented on #178
Try `web3.middleware_stack.inject(geth_poa_middleware, layer=0)`

[2021-03-25 09:44] ghost opened #241 "BSC etl?"
I apologize for asking this here, but is there any future implementation of BSC etl?

[2021-03-26 05:11] psych0xpomp opened #242 "Missing block_number on contracts export when using: ethereumetl export_contracts"
Using the following command:
[code]
gives the following errors:

[code]
Below is a sample record of contracts.csv:

[code]

As you can see the trailing ',' at the end and no block_number. It is like this for each contract record.

After looking deeper it seems that in ```export_contracs_job.py```:

[code]

The function is missing a contract.block_number output. Could this be the cause?

[2021-03-26 05:21] psych0xpomp opened #243 "transactions export does not start at the specified block number"
When using the following command:
[code]
I get the following output to the console:
[code]
However when I view the head of the csv file, the output is missing blocks full of transactions and did not start on the specified block.

[code]
As you can see the starting block number in the export is 1000101.

The larger the export the larger the error. The error is not a fixed number either it varies pe

[2021-03-26 05:47] medvedev1088 commented on #243
The rows in the output files are not sorted by block number cause the export is done in multiple threads. Check if you see the block further down the file

[2021-03-26 05:49] medvedev1088 commented on #242
As I remember export_contracts command doesn't include the block number but the extract_contracts does. The latter extracts contracts from traces where there is block number

[2021-03-26 06:32] psych0xpomp commented on #242
I have followed the instructions below which shows a block number in the schema.
What could be the cause of the trailing ',' and error messages on export do you think?
There is a block number in receipts.csv from which it is extracting the contracts though?

The command I used for exporting contracts:
https://github.com/blockchain-etl/ethereum-etl/blob/develop/docs/commands.md#export_contracts

An

[2021-03-26 06:39] psych0xpomp commented on #243
Thank you. All transactions were exported the blocks are not in order like you have said.

[2021-03-26 06:39] #243 closed, assigned to nobody

[2021-03-26 07:07] psych0xpomp opened #244 "export_all: ValueError: {'code': -32000, 'message': 'the method is currently not implemented: eth_newFilter'}"
I am getting the following output when using:

```ethereumetl export_all -s 5000000 -e 12100000 -p http://127.0.0.1:8545 -w 8```
[code]

[2021-03-27 16:49] yorktien opened #245 "HTTPError: 429 Client Error: Too Many Requests"
requests.exceptions.HTTPError: 429 Client Error: Too Many Requests for url: https://mainnet.infura.io/v3/7aef3f0cd1f64408b163814b22cc643c

[2021-04-21 15:46] lds229 commented on #235
Same issue here @medvedev1088. In my case, an additional batch can't be processed. I'm stuck with the first 100 000 blocks

[2021-04-29 18:59] rameshsraj opened #246 "blockchain-etl database not catching up with the helium network"
Hi, I am unable to start the helium blockchain process, I am getting the below error. It was working fine , I had to start it as it stopped working(stopped pulling data from the helium network)

Already up to date.
./_build/dev/rel/blockchain_etl/bin/blockchain_etl stop
make: [Makefile:52: stop] Error 1 (ignored)
./rebar3 compile
./rebar3 as dev do release
===> Verifying dependencies...
===> Verif

[2021-04-30 05:58] rameshsraj commented on #246
**Reconfigured it today, getting the below message, the local etl database is not catching up**

2021-04-30 05:57:35.321 [info] <0.1946.0>@libp2p_transport_proxy:connect:38 init proxy with ["/p2p/11aHq1wrEH7mXv5jZsUaxKbp3fQ9LeMzxGd3YHeGv3Tk6fiXeEj","/p2p/11peaqNCEgTwHyxkSSzjpXiVQBCLBUvetYE5gJWUow2ufnG6K9d"]
2021-04-30 05:57:35.992 [info] <0.1967.0>@libp2p_stream_proxy:init:63 init proxy client wit

[2021-04-30 07:37] rameshsraj commented on #246
I am seeing the below in the logs, but don't see any rows getting updated on the DB side. ...

**2021-04-30 07:36:23.269 [info] <0.1334.0>@be_db_pending_txn:handle_info:105 Submitting 0 pending transactions
2021-04-30 07:36:27.906 [info] <0.4531.0>@blockchain_sync_handler:handle_data:113 adding sync blocks [9062,9063,9064,9065,9066]
2021-04-30 07:36:27.906 [info] <0.4552.0>@blockchain:save_temp_bl

[2021-04-30 07:43] medvedev1088 commented on #246
Hi, how did you install ethereum-etl?

[2021-04-30 08:53] rameshsraj commented on #246
hi
I followed the instruction mentionedhere
https://github.com/helium/blockchain-etl

This is running fine .. and now also .. I am seeing it inserted some 70 records into the transactions table and then it stopped

[2021-04-30 08:55] rameshsraj commented on #246
2021-04-30 08:54:51.427 [info] <0.1804.0>@blockchain_sync_handler:handle_data:113 adding sync blocks [24172,24173,24174,24175,24176]
2021-04-30 08:54:51.427 [info] <0.1875.0>@blockchain:save_temp_block:2006 temp block height is at least 24172
2021-04-30 08:54:51.431 [info] <0.1875.0>@blockchain:save_temp_block:2006 temp block height is at least 24173
2021-04-30 08:54:51.434 [info] <0.1875.0>@block

[2021-04-30 09:37] medvedev1088 commented on #246
This is a different project

[2021-04-30 10:16] rameshsraj commented on #246
oops, thanks for letting me know.

[2021-04-30 11:40] #246 closed, assigned to nobody

[2021-04-30 11:40] rameshsraj commented on #246
Looks like the wrong project.

[2021-05-06 03:44] Blazar221 opened #247 "web3.getBlock('latest) issue"
When I call get_block_range_for_date
web3.eth.getBlock('latest') get this:
AttributeDict({'difficulty': 17179869184, 'extraData': HexBytes('0x11bbe8db4e347b4e8c937c1c8370e4b5ed33adb3db69cbdb7a38e1e50b1b82fa'), 'gasLimit': 5000, 'gasUsed': 0, 'hash': HexBytes('0xd4e56740f876aef8c010b86a40d5f56745a118d0906a34e69aec8c0db1cb8fa3'), 'logsBloom': HexBytes('0x000000000000000000000000000000000000000000000

[2021-05-06 06:16] Blazar221 commented on #247
Turns out the reason is my node is not synced yet.

[2021-05-06 06:16] #247 closed, assigned to nobody

[2021-05-13 09:09] sleepy-tiger opened #248 "Failed to install ethereum-etl 1.6.2 into google composer-1.10.14"
Got below errors when install ethereum-etl into google composer:

The command is:
gcloud composer environments update environments-name --location=us-central1 --update-pypi-package=ethereum-etl==1.6.2

The error is:
ERROR: pandas 1.1.4 has requirement python-dateutil>=2.7.3, but you'll have python-dateutil 2.7.0 which is incompatible.
ERROR: apache-beam 2.27.0 has requirement python-dateutil<3,>=2

[2021-05-30 10:14] NguyenIvan opened #250 "BEP20 Token Support"
Good morning guys,
I wonder is there any plan for BEP20 Token Support?
I run ethereumetl export_all.sh on a smart chain node, and the token export always failed.
Thank you,
Ng

[2021-06-07 07:33] vivowa commented on #235
Second that. Any solutions founds?

[2021-06-07 07:43] medvedev1088 commented on #235
The error `Timeout: 60 seconds` is being automatically retried with a reduced batch size. Does the command finish successfully in the end  or with an error code? Of the former than the error messages can be ignored. If the latter we'll need to add a parameter to the command for specifying the timeout.

Alternatively you can try increasing CPU/memory on your Ethereum node.

[2021-06-09 06:41] jjhesk commented on #178
it works! @medvedev1088 @realmeh

[2021-06-24 17:25] dcoder2099 opened #252 "export_all "RetriableValueError ... Make sure Ethereum node is synced""
When attempting to export the first million blocks in blocks of 100,000, the blocks and transactions exported fine, but when attempting to export the receipts, an unrecoverable exception occurs (and repeats itself a few dozen times as the exporter attempts to retry and fails). The exception is:

[code]

The exact command I'm using is:

[code]

When I attach to the geth node on 10.1.102.239, I can

[2021-06-25 16:09] alexandersimoes opened #253 "contract_address always empty"
Hello! I am trying to run the following command (from the examples):

[code]

but when i view the receipts output file the `contract_address` column is always blank. Am I doing something wrong here?

[2021-06-25 16:10] medvedev1088 commented on #253
This field will be non blank only if a transaction is a contract creation transaction. Hope this helps

[2021-06-25 16:13] alexandersimoes commented on #253
Thanks! That does help, could that be the case looking at over 100 blocks? Seems strange to me but I also don't have a great intuition of this dataset yet.

[2021-06-25 16:14] medvedev1088 commented on #253
Definitely possible especially for early blocks

[2021-06-30 10:57] timjimedwards commented on #245
I'm also having the same issue. Where you able to find a solution for this?

[2021-06-30 20:04] nateawelch opened #254 "Support for new schema post-London"
With the London fork coming up, are there any plans to support the changes to Ethereum's state trie? I'm namely referring to the new transaction type added by EIP-1559 objects, `maxPriorityFeePerGas` and `maxFeePerGas`, as well as the fact that `gasPrice` will be undefined for the new transaction type

[2021-06-30 20:32] ethedev commented on #254
@medvedev1088 @askeluv any ideas concerning this issue?

[2021-07-01 02:17] #244 closed, assigned to nobody

[2021-07-01 06:25] medvedev1088 commented on #254
We're going to add new fields as described here https://github.com/blockchain-etl/ethereum-etl/pull/256

[2021-07-08 09:29] cs201503 opened #257 "ethereumetl: command not found"
Hi,
I just installed ethereum ETL according to the command "pip3 install ethereum-etl", but when I try to export blocks and transactions using
`ethereumetl export_blocks_and_transactions --start-block 0 --end-block 500000 --provider-uri file://$HOME/.ethereum/geth/geth/chaindata --blocks-output blocks.csv --transactions-output transactions.csv
`
it says "ethereumetl: command not found".
Anyone kno

[2021-07-09 10:20] myfjdthink opened #258 "How to get USDC Token decimals"
USDC not in the table  `crypto_ethereum.tokens`

[code]

But in the table  `crypto_ethereum.contracts`

How can I get de USDC Token decimals ?

I want to case USDC transfer value
[code]

[2021-07-09 10:45] medvedev1088 commented on #258
Check out the crypto_ethereum.amended_tokens table

[2021-07-10 08:39] ksiau opened #259 "Is there a way to export failed transaction before Byzantium?"
After Byzantium, the `receipt_status` in Table `traces` can be used to tell if this transaction is successful or failed.
Is there a way to differenciate a failed transaction before Byzantium in BigQuery tables? If not, is there a way to export failed transaction before Byzantium?

[2021-07-10 09:27] medvedev1088 commented on #259
receipt_status column is in table transactions. You can join it with table traces which has column status to know the status of pre-byzantine transaction

[2021-07-10 11:33] ksiau commented on #259
I made it wrong. `receipt_status` is a column in Table transactions, but `receipt_status` is `null` for transactions before Byzantium.
How do I differenciate a failed transaction before Byzantium in BigQuery tables?

[2021-07-10 11:38] ksiau commented on #257
Check if you have installed ethereum-etl to the right version of Python

[2021-07-10 12:20] medvedev1088 commented on #259
You can join transactions with traces on transaction_hash where traces.trade_address is null, then traces.status will tell you if a transaction failed or succeeded

[2021-07-10 12:21] medvedev1088 commented on #259
Something like this:

[code]

[2021-07-10 13:56] ksiau commented on #259
That way is not correct. `traces.trace_address is null` cannot be used to differentiate failed transactions. I tried the following:
[code]

[2021-07-10 13:59] medvedev1088 commented on #259
Sorry I wasn't clear. `traces.trace_address is null` is not supposed to differentiate failed transactions, it filters out only top-level traces within a transaction. If you need to filter out only failed transactions add `and traces.status = 0`

[2021-07-12 02:37] myfjdthink commented on #258
@medvedev1088
Thanks, it works

[2021-07-12 08:48] cs201503 commented on #257
Hi @ksiau , I have Python 3.8.10
Which is the correct version that I should use with ethereumetl?

[2021-07-13 08:10] myfjdthink commented on #258
It seems that there is no 'crypto_polygon.amended_tokens' table on Polygon? @medvedev1088

[2021-07-13 09:43] ksiau commented on #259
Thank you. I tried and did some tests. Your method works.

[2021-07-13 09:52] ksiau commented on #259
By the way, I have added a way in this repo to export raw EVM opcode trace using the RPC API `debug_traceTransaction`. Do you think it is needed? If so, I can send a pull request to you guys.

[2021-07-13 11:35] ksiau commented on #257
Python 3.8.10 is fine (see `setup.py`). I was saying that maybe you have several Python environment, and you might have installed it to the wrong environment?
Try `python3 -m ethereumetl --help` or `pip3 list` to make suer you have installed successfully

[2021-07-14 08:43] cs201503 commented on #257
Hi @ksiau ,
thank you! after typing "python3 -m ethereumetl --help", I got the following:

`Symbolic Execution not available: No module named 'mythril'
pyetherchain not available: No module named 'pyetherchain'
Usage: __main__.py [OPTIONS] COMMAND [ARGS]...

Options:
  --version  Show the version and exit.
  --help     Show this message and exit.

Commands:
  export_all                      Export

[2021-07-21 09:38] TimofeySugaipov opened #260 "rpc_response_to_result fails and skips retries on the Binance Smart Chain Data"
So it seems the package is not handling errors from the Binance Smart Chain correctly.
This is the response returned: `{'id': 0, 'jsonrpc': '2.0', 'error': {'code': -32603, 'message': 'handle request error'}}`
While the code expects an array like this: `[{'id': 0, 'jsonrpc': '2.0', 'error': {'code': -32603, 'message': 'handle request error'}}]`
Which cause the following error and skips all other b

[2021-07-21 13:23] ksiau commented on #257
Yes, you have installed it in `python3`. Just replace the `ethereumetl export_blocks_and_transactions --start-block 0 --end-block 500000 --provider-uri file://$HOME/.ethereum/geth/geth/chaindata --blocks-output blocks.csv --transactions-output transactions.csv` by `python3 -m ethereumetl export_blocks_and_transactions --start-block 0 --end-block 500000 --provider-uri file://$HOME/.ethereum/geth/ge

[2021-07-26 11:43] cs201503 commented on #257
Hi @ksiau
Thank you for your reply!
After I replaced the code with "python3 -m ethereumetl export_blocks_and_transactions --start-block 0 --end-block 500000 --provider-uri file://$HOME/.ethereum/geth/chaindata --blocks-output blocks.csv --transactions-output transactions.csv"

the following error appeared:

pyetherchain not available: No module named 'pyetherchain'
2021-07-26 08:07:35,603 - Progre

[2021-07-26 15:27] cs201503 commented on #235
@medvedev1088
I have the same error, I tried to reduce the blocks I needed to transfer to csv, the command tried several times automatically, but the same error always appears:

pyetherchain not available: No module named 'pyetherchain'
2021-07-26 08:07:35,603 - ProgressLogger [INFO] - Started work. Items to process: 638921.
2021-07-26 08:07:35,606 - BatchWorkExecutor [ERROR] - An exception occurr

[2021-07-29 01:47] sznariOsmosis opened #262 "Ethereum data export error"
When i use “ethereumetl export_all -s 0 -e 5999999 -b 100000 -p file://$HOME/Library/Ethereum/geth.ipc -o output”，The following error occurred：“ValueError: Unknown uri scheme /datalake/blockdata/geth.ipc”，Ask what is the reason

[2021-07-29 09:12] medvedev1088 commented on #262
Do you call it with `-p file://$HOME/Library/Ethereum/geth.ipc -o output` or with `-p /datalake/blockdata/geth.ipc -o output`?

[2021-07-30 01:34] sznariOsmosis commented on #262
/datalake/blockdata/geth.ipc

[2021-07-30 01:35] sznariOsmosis commented on #262
/datalake/blockdata/geth.ipc

[2021-07-30 04:21] medvedev1088 commented on #262
Try `-p file:///datalake/blockdata/geth.ipc -o output`

`file://` is the uri scheme

[2021-07-30 07:15] sznariOsmosis commented on #262
Thank you, and the export was successful, but there is a question, why my block.csv has data, but my transactions.csv data is empty.

[2021-07-30 08:06] medvedev1088 commented on #262
Likely because you're exporting some early blocks in which there were no transactions

[2021-07-30 08:42] sznariOsmosis commented on #262
I understand ，why the end block I exported reported (ethereumetl export_all -s 0 -e 6830510 -b 100000 -p file:///datalake/blockdata/geth.ipc -o output): "Please confirm whether the ETH node Already synchronized", I am sure that these blocks are currently synchronized

[2021-07-30 08:45] sznariOsmosis commented on #262
error：ethereumetl.misc.retriable_value_error.RetriableValueError: result is None in response {'jsonrpc': '2.0', 'id': 0,esult': None}. Make sure Ethereum node is synced.
process:> eth.syncing
{
  currentBlock: 7020052,
  highestBlock: 12925923,
  knownStates: 0,
  pulledStates: 0,
  startingBlock: 0
}

[2021-08-02 08:35] 70nyIT commented on #254
As London is about to go live, any eta expected for a new release of ethereum-etl compatible with London?

[2021-08-02 17:35] medvedev1088 commented on #254
Please check out this version https://github.com/blockchain-etl/ethereum-etl/releases/tag/v1.7.1

Let me know if you find issues

[2021-08-02 21:44] 70nyIT commented on #254
Thanks @medvedev1088 , so far everything looks perfect!

[2021-08-03 00:07] dcoder2099 opened #264 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte"
When attempting to use EthTokenService to retrieve the token '0x74956d9744340A9f127d1BBffecEf36D93b80Baa', a UnicodeDecodeError occurs.

As best I can tell, this is because of a function execution using the ERC20_ABI_ALTERNATIVE_1 interface.

Here is some interactive output:

[code]

Calling `symbol()` and `SYMBOL()` on the normal contract both throw exceptions that are ignored.

Calling `symbol()

[2021-08-04 09:04] sznariOsmosis commented on #252
Have you solved this problem? I have the same problem now

[2021-08-04 13:26] sznariOsmosis opened #265 "use ethereumetl stream"
ethereumetl stream --start-block 500000 -e block,transaction --log-file log.txt \
--provider-uri file:///datalake/blockdata/geth.ipc \
--output=postgresql+pg8000://postgres:admin@127.0.0.1:5432/ethereum

why?
root [INFO] - Current block 0, target block 0, last synced block 499999, blocks to sync 0
oot [INFO] - Nothing to sync. Sleeping for 10 seconds...

[2021-08-04 14:02] medvedev1088 commented on #265
It looks like the node is not synced.

getBlock('latest') must be returning 0 https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/streaming/eth_streamer_adapter.py#L40

[2021-08-04 16:00] #264 closed, assigned to nobody

[2021-08-04 16:04] medvedev1088 commented on #264
@dcoder2099 thanks for reporting. This should be fixed in https://github.com/blockchain-etl/ethereum-etl/releases/tag/v1.7.2

Please try it out and let me know if you find other issues

[2021-08-05 07:02] sznariOsmosis commented on #265
The above error was solved. I synced directly to block 46146 and reported the following error: "Make sure Ethereum node is synced", but my Ethereum node is syncing

{
  currentBlock: 12961805,
  highestBlock: 12962575,
  knownStates: 0,
  pulledStates: 0,
  startingBlock: 12962264
}

[2021-08-12 20:11] numonedad commented on #178
I still see this on the stream subcommand.

[2021-08-13 07:13] Noorah11 opened #272 "Exporting ERC20 transfers : TypeError: __init__() got an unexpected keyword argument 'converters'"
I am using the following command to export ethereum  data and using etl 1.7.3
ethereumetl export_all -c ethereum -p **** -s 12965000 -e 12965423 -b 100 -w 1 -o ./temp
.The blocks and transactions are exported correctly, however, I get the following error while Exporting ERC20 transfers f
  File "/home/ubuntu/capp2/src/noorah/test/lib/python3.6/site-packages/ethereumetl/jobs/exporters/token_transfe

[2021-08-13 09:18] medvedev1088 commented on #272
Do you also have bitcoin-etl installed in the same Python setup? There is a package there `blockchainetl` that clashes with the same package here and could cause this error.

[2021-08-13 09:37] Noorah11 commented on #272
Yes. I do have the bitcoin-etl v1.4.0 installed. Any workarounds you suggest?

[2021-08-13 10:36] medvedev1088 commented on #272
Try upgrading to bitcoin-etl v1.5.1 and see if it helps

[2021-08-16 03:05] kyle-pjk opened #273 "How to filter transactions by address faster？"
https://github.com/blockchain-etl/awesome-bigquery-views#every-ethereum-balance-on-every-day
I just need to check the balance on every day of a single address.
But using the above method is too slow.
Can you help me?
Thanks.

[2021-08-16 03:26] Noorah11 commented on #272
Thank you. It worked for me

[2021-08-16 03:26] #272 closed, assigned to nobody

[2021-08-20 01:25] liujiajun opened #274 "Question about traces"
I am using OpenEthereum (parity) with Ethereum-etl to export traces. Which pruning mode should I use for parity (fast/archive)? Thanks a lot!

[2021-08-23 08:52] sznariOsmosis opened #275 "When using ethereumetl stream， Does it support exporting contract data?"
error info:ValueError: contract and token are not yet supported entity types for postgres item exporter.

[2021-08-23 19:23] DmitryShvetsov commented on #97
Mister Medvedev, thank's a lot for the great decision (https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/jobs/export_tokens_job.py#L64). You saved my life. At least this evening.

[2021-08-26 08:59] jsvisa commented on #245
You need to decrease the request concurrency

[2021-08-27 16:59] dsshap commented on #181
@medvedev1088 where can I find the latest limitations?

I followed the [link](https://github.com/blockchain-etl/ethereum-etl#limitations) but that section no longer exists in the readme. I reviewed [this](https://github.com/blockchain-etl/ethereum-etl/blob/develop/docs/limitations.md) markdown and just want to confirm if it is still current or a bit outdated.

[2021-08-27 20:55] ashtenhamilton commented on #252
From the docs:

- You can export blocks below currentBlock, there is no need to wait until the full sync as the state is not needed (unless you also need contracts bytecode and token details; for those you need to wait until the full sync).

[2021-09-02 13:22] medvedev1088 commented on #181
This documents is current https://github.com/blockchain-etl/ethereum-etl/blob/develop/docs/limitations.md

[2021-09-17 06:13] jaklimoff opened #276 "Is there a way to calculate burned ethereum per block?"
Sorry. it might be a stupid question but I can't find the answer anywhere.

In etherscan this data is open and attached to every block, but I can't find anything similar in the API of the node.

[2021-09-17 09:01] #276 closed, assigned to nobody

[2021-09-17 09:43] penspencap commented on #250
will be coming by pr soon

[2021-10-05 09:44] cj-clifton opened #277 "Get tokenId (ERC721)"
Is it possible to get the tokenId associated with each transfer from `export_token_transfers`?

Thanks!

[2021-10-14 16:48] TimofeySugaipov opened #278 "extract_geth_traces not filling status and trace_id field"
It seems that the status and trace_id fields are not being filled when I extract traces from geth_traces.json, is there a reason for this?

<img width="1378" alt="Screenshot 2021-10-14 at 15 55 08" src="https://user-images.githubusercontent.com/52857759/137361309-866c0dac-4ec7-4234-b6e5-82cbbc600d0d.png">

[2021-10-15 07:59] medvedev1088 commented on #278
Thanks for reporting. Looks like a bug that needs to be fixed

[2021-10-29 16:02] kunalmodi commented on #252
I just hit this - it looks like Geth stopped indexing old transactions, so older blocks were returning null receipts 100% of the time. You can disable this in Geth with `--txlookuplimit=0`. See here for more details: https://www.reddit.com/r/ethdev/comments/mq2fsq/geth_node_in_fast_mode_returns_null_for_existing/

[2021-11-02 01:03] loganbonsignore opened #279 "Why am I getting 'Is the node fully synced?' error for trace,contract,token entity types when streaming?"
Hello, I am using ethereum-etl to stream data. I am using my own OpenEthereum node as the data source. An example of my stream command looks something like this:

[code]

After running this, I am receiving this error message asking if my node is fully synced.

[code]

I can confirm my node is fully synced using the JSON RPC.

[code]

One thing to note is the stream is successful when using a subse

[2021-11-02 18:40] ghost opened #280 "Addresses with a balance greater than 0"
Hello. Help me make a query to export all addresses with a balance greater than 0.

[2021-11-03 01:50] sznariOsmosis opened #281 "When etl reaches 9989676 block, the following error occurs BatchWorkExecutor [ERROR]-An exception occurred while executing work_handler, what is the reason?"
When etl reaches 9989676 block, the following error occurs BatchWorkExecutor [ERROR]-An exception occurred while executing work_handler, what is the reason?

[2021-11-15 18:36] michael-stajer commented on #265
Bumping this issue... Here is what I am facing...

1. My eth.syncing
![Screen Shot 2021-11-15 at 10 31 22 AM](https://user-images.githubusercontent.com/1163483/141835350-4ff10633-53c5-4f98-8f37-b51786902fb0.png)

2. but, getBlock('latest') is show the block number==0:
![Screen Shot 2021-11-15 at 10 32 05 AM](https://user-images.githubusercontent.com/1163483/141835440-c60e9a8e-f0f3-4f5b-839e-8f0793

[2021-11-15 18:48] michael-stajer commented on #265
For future people researching this issue... the answer seems to be to wait, even several hours after full sync:

https://github.com/ethereum/go-ethereum/issues/14338:

and...

[2021-11-16 16:36] michael-stajer commented on #265
Final update... 24 hours **after** eth.syncing was showing currentBlock as up to date, the **states** are finally downloaded and GETH is fully synced. Now getBlock('latest').number is showing the currentBlock.

[2021-11-19 10:07] happy888liu opened #284 "why i can't get Ronin chain data in web3.py , but i can get data thought web3.js"
**web3.js code**
![image](https://user-images.githubusercontent.com/10581712/142604434-3e9684e7-d84f-4343-a068-5d67cdc983dc.png)
 **i can get detail data**
![image](https://user-images.githubusercontent.com/10581712/142604582-0dd46183-3d0c-4459-8a2b-313055d5c91b.png)

**however,i use ethereum-etl , always tell me 403 Client Error: Forbidden for url**
![image](https://user-images.githubusercontent.

[2021-12-02 23:09] alexandersimoes opened #286 "documentation on schema fields"
Hi, is there documentation on the specifics of each of the fields in the output CSVs? For example what exactly does the `transaction_type` refer to in the exported transactions.csv file created? I see in the schema the type of value it is (BIGINT) but I don't know an explanation of what the field means. Maybe there is documentation somewhere I'm missing? Thanks!

[2021-12-03 05:06] medvedev1088 commented on #286
Hello, there are field descriptions in BigQuery schema file https://github.com/blockchain-etl/ethereum-etl-airflow/blob/master/dags/resources/stages/raw/schemas/transactions.json

[2021-12-03 14:55] alexandersimoes commented on #286
Awesome thanks for sharing this! But I noticed for the `transaction_type` field that the description just says "Transaction Type" which isn't very useful. Looking deeper into general ethereum documentation I see the following:

Which value in the output CSVs maps to which of these? I see `2` and `0` values (at least in the blocks I've exported).

[2021-12-05 10:52] medvedev1088 commented on #286
It's one of 0 (Legacy), 1 (Legacy), 2 (EIP-1559)

[2021-12-07 06:14] NoltaPulta opened #287 "Filter with ID ___ already exists, Filter with id: ___ does not exist"
These two errors kept happening randomly with Nethermind when trying to export all using ethereum-etl. Since these two errors haven't been previously reported, I don't think it's an issue with this project, but I'm not entirely sure if it could be something that needs to be fixed on both sides. But in case anyone else runs into this with ethereum-etl + Nethermind, I opened the issue the Nethermind

[2021-12-09 00:24] NoltaPulta commented on #287
Fixed in [https://github.com/NethermindEth/nethermind/commit/088d858b9ca4282f135262bc092ddbb77de3f6d4](https://github.com/NethermindEth/nethermind/commit/088d858b9ca4282f135262bc092ddbb77de3f6d4)

[2021-12-09 00:24] #287 closed, assigned to nobody

[2021-12-09 17:15] alexandersimoes commented on #286
Thanks, closing now.

[2021-12-09 17:15] #286 closed, assigned to nobody

[2021-12-16 04:32] NickKelly1 opened #288 "How are balances hydrated in BigQuery?"
Hello :wave:!

Love the project. Fantastic work.

I'm wondering how it hydrates and deduplicates balances in BigQuery? I haven't found a mention of balances within the code. A class or filename to look in would be sufficient!

[2021-12-22 04:07] BirdyUK commented on #288
@NickKelly1 to be honest i have also been researching and looking into ETL a lot over the last few days and i think the balances in bigquery are computed from the following package: [ethereum-etl-airflow](https://github.com/blockchain-etl/ethereum-etl-airflow)

I could be wrong, i am by no means a pro and merely trying to learn / understand how ETL is used to form the end results in bigquery.

Wit

[2021-12-22 04:17] NickKelly1 commented on #288
@BirdyUK you're right, balances are extracted in ethereum-etl-airflow.

I asked the same question in Nansen's Discord and Evgeny pointed me to [this file in ethereum-etl-airflow](https://github.com/blockchain-etl/ethereum-etl-airflow/blob/master/dags/resources/stages/enrich/sqls/balances.sql). Very helpful!

This issue can be closed now 😊

[2021-12-22 04:22] BirdyUK commented on #280
@Napulsnik The most basic query would be the following:

[code]

Remember the Balance is stored in WEI and not Eth, if you want all balances is Ether you would need to run something like the following:

[code]

PS:  Im still learning myself so this might not be the best way to achieve the result you are asking for!

Thanks!

[2021-12-22 09:14] ghost commented on #280
Thank you.

[2021-12-22 09:14] #280 closed, assigned to nobody

[2021-12-22 15:26] #288 closed, assigned to nobody

[2021-12-24 09:51] medvedev1088 commented on #265
Thanks, updated the docs https://ethereum-etl.readthedocs.io/en/latest/exporting-the-blockchain/

[2021-12-24 09:51] #265 closed, assigned to nobody

[2021-12-24 09:52] medvedev1088 commented on #262
Resolved here https://github.com/blockchain-etl/ethereum-etl/issues/265

[2021-12-24 09:52] #262 closed, assigned to nobody

[2022-01-04 17:50] ddkang opened #296 "ethereumetl stream crashes when streaming to local postgres"
I am trying to use ethereumetl stream with the following command line:
[code]

And I am getting the following error:
[code]

Please let me know if there is anything other information you need to help with this bug.

[2022-01-05 02:23] artemg opened #297 "Can't export data, when geth is fully synced"
Can't export data, when geth is fully synced. geth is fully synced in full mode (eth.syncing = false), and when exporting data getting error:

`ethereumetl export_all -s 0 -e 50000 -b 100000  --provider-uri file:///mnt/geth/geth.ipc -o output
`

[code]

[code]

[2022-01-05 11:13] medvedev1088 commented on #296
Thanks for reporting this. Have you applied indexes to your tables https://github.com/blockchain-etl/ethereum-etl-postgres/tree/master/indexes ?

[2022-01-05 11:24] pantonis opened #298 "Extract duration on infura"
Using infura how long does it take to export all history for all tables? Any metrics?

[2022-01-05 11:37] medvedev1088 commented on #298
If you scale it and run in parallel like in ethereum-etl-airflow it could take a week or less. Exporting each day sequentially could take months.

[2022-01-05 11:38] pantonis commented on #298
and it would cost a fortune to access infura. Do you know any other alternative source?

[2022-01-05 11:39] medvedev1088 commented on #298
[QuickNode.io](https://www.quicknode.com/)

[2022-01-05 11:41] medvedev1088 commented on #298
You can access all data in BigQuery public datasets https://github.com/blockchain-etl/public-datasets

[2022-01-05 11:44] nhenke commented on #298
Alternatively, I'd recommend setting up a custom Ethereum node on something like AWS EC2 or the GCP equivalent. It will take a few days to sync, but you won't pay much beyond the cost of running the instance until you have exported all data, which should not be too much.

[2022-01-05 12:01] pantonis commented on #298
in order to run such a node I need about 10TB of disk. That would cost a lot

[2022-01-05 12:07] nhenke commented on #298
Depending on what information exactly you want to extract, you won't need to run a full archive node. If you just want all blocks, transactions, and logs, a full node will suffice. From that information alone you should be able to compute the state of any address at any block, without having to store the historic states in the node.

[2022-01-05 12:24] pantonis commented on #298
I can see that is gonna cost even more using Aws to run a full node

[2022-01-05 18:26] ddkang commented on #296
That seems to have worked, thanks! It might be nice to mention that the indexes need to be applied before streaming.

[2022-01-08 13:58] xingyushu opened #300 "Problem when run export_traces command of ethereum-etl"
[code]

When I run the method of  export_traces :
[code]

I met the error:

`Traceback (most recent call last):
  File "/home/alice/.local/bin/ethereumetl", line 8, in <module>
    sys.exit(cli())
  File "/home/alice/.local/lib/python3.8/site-packages/click/core.py", line 829, in __call__
    return self.main(*args, **kwargs)
  File "/home/alice/.local/lib/python3.8/site-packages/click/core.py", l

[2022-01-08 14:01] medvedev1088 commented on #300
Try `ethereumetl export_geth_traces` command

[2022-01-08 14:16] xingyushu commented on #300
Ok,thanks
However I met another error hint:
`ethereumetl.misc.retriable_value_error.RetriableValueError: result is None in response {'jsonrpc': '2.0', 'id': 13402955, 'error': {'code': -32000, 'message': 'required historical state unavailable (reexec=128)'}}`

Is it my local geth data problem  like the description ?

[2022-01-09 08:23] xingyushu commented on #300
when I try:

` ethereumetl  export_geth_traces   --start-block 13402955  --end-block 13588188 --provider-uri http://localhost:8545/  --batch-size 5 --output geth_traces1028.json
`

I also met the problem:

`ValueError: result is None in response {'jsonrpc': '2.0', 'id': 0, 'error': {'code': -32601, 'message': 'the method debug_traceBlockByNumber does not exist/is not available'}}.`

How can I fix

[2022-01-11 19:55] mike-seekwell commented on #297
there's an extra "/" in:

[code]

[2022-01-11 19:56] mike-seekwell commented on #298
@pantonis curious, what did you end up doing?

[2022-01-12 05:58] artemg commented on #297
That should not be an issue, but anyway I tried with "file://mnt/geth/geth.ipc" and got the same issue.
Also #279 seems to be the same issue.

[2022-01-12 06:20] medvedev1088 commented on #297
Does the process stop after emitting this error? There is a retry mechanism there so if the error is intermittent it will go through.

[2022-01-12 06:23] medvedev1088 commented on #279
You may need to check that openethereum is started with tracing = "on" option enabled and that trace_block API is enabled

[2022-01-12 08:23] artemg commented on #297
Ok, the issue is geth starting from 1.10 (?) stopped indexing old transactions by default. `--txlookuplimit 0` solves it

[2022-01-12 08:24] #297 closed, assigned to nobody

[2022-01-12 15:42] loganbonsignore commented on #279
Thanks!

[2022-01-12 15:42] #279 closed, assigned to nobody

[2022-01-14 19:17] blockjoe opened #301 "`export_origin` and `export_token_transers` fail when calling clients that don't support `eth_newFilter`"
Discovered an issue where trying to filter with `web3.eth.filter` when calling to eth nodes that don't support `eth_newFilter`.

It's possible to get all the logs and then filter on the client side with `web3.eth.getLogs`.

The case that surfaced this issue for me: https://forum.pokt.network/t/ethereumetl-tool-fails-when-using-eth-archival-node-endpoint/1739

[2022-01-19 09:05] pantonis commented on #298
@mike-seekwell still researching this when I have some free time. I have a question maybe you can answer. While running a full node can you specify to a node from which block to start sync?

[2022-01-19 21:34] michael-gendy commented on #296
Sorry to hi-jack this issue but I'm seeing something very similar trying to stream to QuestDB (following this tutorial https://medium.com/geekculture/streaming-ethereum-on-chain-data-to-questdb-ea6b51d990ab).

I've created a blocks table as below (changed to java data types) from https://github.com/blockchain-etl/ethereum-etl-postgres/blob/master/schema/blocks.sql:

`create table blocks
(
    time

[2022-01-26 01:01] yuanjianwen1994 opened #304 "Can't connet to geth ipc on win10"
I tried "ethereumetl export_all -s 12987616 -e 13987616 -p file:\\.\pipe\geth.ipc" on windows10 and it is not working.
I have started a geth client and synchronized eth blockchain, ethereumetl can work with local geth by HTTP connect.
Could you tell me how to connect to geth IPC on win10 and update it into your doc?

[2022-01-27 11:51] sebalodz opened #305 "In export_token_transfers there aren't ERC-1155 tokens"
How can I get ERC-1155 tokens transfer?

[2022-01-28 08:53] mtake opened #306 "extract_token_transfers causes _csv.Error: field larger than field limit (131072)"
The data size is about 600K in the following transaction.
https://etherscan.io/tx/0x94d75fdf59b397e374b9a4e99ad38f75de7c77797e2d9249ae4b88d2b6f80356#eventlog
With logs.json instead of logs.csv, we can work around this issue.

[2022-01-31 12:44] airled opened #307 "extract_contracts is not documented"
Hi. I see that cli has [extract_contracts](https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/cli/extract_contracts.py)  function but I don't see any mentions in the [documentation](https://ethereum-etl.readthedocs.io/en/latest/commands/)  about it. What is the reason? Doesn't it work properly?

[2022-02-06 14:16] etc-chmod opened #308 "eth-abi==1.3.0 and web3.py update and dependency issue"
Hello,

I greatly appreciate your projects and the code you provide. Experimenting with it I came to the point where it seems that your library requires eth-abi==1.3.0 (newest: 3.0.0) which in turn leads to web3.py version to be maxed out at 4.7.2 (newest: 5.27.0).

Probably this is only the tip of the iceberg, but since I got a security warning for websockets==6.0.0 as part of web3.py==4.7.2 I wa

[2022-02-08 05:00] sourdzl commented on #195
hey any updates on this?  am happy to take a look in a few weeks, but wondering if there have been other approaches discussed elsewhere

[2022-02-08 18:42] dlin17 opened #309 "cannot get block ranges for dates on arbitrum"
When trying to extract blocks from an Arbitrum RPC, `get_block_range_for_date` for most dates I've tried, e.g. `ethereumetl get_block_range_for_date -d 2021-06-01`. Issue appears to be that Arbitrum blocks can have the same timestamps, e.g. blocks [148](https://arbiscan.io/block/148) through [151](https://arbiscan.io/block/151). This is the traceback:

[code]

[2022-02-10 13:39] ninaleechie commented on #308
I have a similar dependency issue.  Python3.8 on Ubuntu 20.04.
after running the pip3 install -e . on a fresh clone of the repository, I see:
ERROR: rlp 3.0.0 has requirement eth-utils<3,>=2.0.0, but you'll have eth-utils 1.10.0 which is incompatible.
ERROR: eth-rlp 0.3.0 has requirement eth-utils<3,>=2.0.0, but you'll have eth-utils 1.10.0 which is incompatible.
Then if I update eth-utils to 2.0.

[2022-02-10 14:28] medvedev1088 commented on #308
Thanks for reporting it. We definitely need to upgrade the dependencies and make the changes accordingly where api compatibility is broken.

[2022-02-10 14:39] medvedev1088 commented on #309
Good catch. A solution should be ported from blockchain-etl-common where such case is handled https://github.com/blockchain-etl/blockchain-etl-common/blob/master/blockchainetl_common/graph/graph_operations.py

[2022-02-11 01:15] emlazzarin opened #310 "`python-dateutil==2.8.0` version"
https://github.com/blockchain-etl/ethereum-etl/blob/0beebb139d8cd25134859ebec508727eb331ce74/setup.py#L39

Is this library actually version-locked against `python-dateutil` version `2.8.0`?

When installing `pandas` and `ethereum-etl`, `poetry` detects a unresolvable version conflict thanks to the version-lock.

[2022-02-11 02:39] emlazzarin commented on #310
All tests pass with the following environment:

[code]

Test result in `39 passed, 19 skipped, 41 warnings in 3.25s`.

[2022-02-14 21:33] emlazzarin commented on #310
This was fixed in #311.

[2022-02-14 21:33] #310 closed, assigned to nobody

[2022-02-15 21:19] lhykakaxi opened #314 "'block_number' field in contracts.csv is always empty"
I used the command "ethereumetl export_contracts' to generate conracts.csv.  I found that 'block_number' field is empty for all rows.

Then I checked the source code and didn't find any logic of adding block_number in the file 'ethereumetl/jobs/export_contracts_job.py'.

Not sure if I missed anything.

Thanks in advance!

[2022-02-21 10:38] 0x-ten opened #315 "Add ERC1155 values to the public BigQuery dataset"
Firstly I just want to say thanks for all the great work you have done on this and thanks for sharing it with the community!

We use the public BigQuery dataset to track token transfers and manage our internal NFT ownership state via the `token_transfers` table.

The dataset has transfer info for ERC20 and ERC721, but not ERC1155. For ERC721, the `value` field is the token id for the token transfe

[2022-02-25 14:06] Franklinliu commented on #235
Do anyone get the solution for that? I still get the issue.

[2022-02-25 16:50] spencer-collins-kubrick opened #317 "Building Docker image throws error"
Hi there, when I attempt to build a Docker image based on `docker build -t ethereum-etl:latest .` it throws the following error:

[code]

Is this an issue with my configuration do you know or is it something else?

[2022-02-25 18:02] medvedev1088 commented on #317
Hey thanks for reporting. Have you checked out the repository before running the docker command? Dockerfile should be there https://github.com/blockchain-etl/ethereum-etl/blob/develop/Dockerfile

[2022-02-26 11:20] leechenghan opened #318 "Stream command blocks to sync is always 1"
<RESOLVED>

[2022-02-26 12:12] #318 closed, assigned to nobody

[2022-02-27 06:32] leechenghan opened #319 "[BUG] is_erc721_contract function returning wrong value"
I am calling [is_erc71_contract](https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/service/eth_contract_service.py#L65) with the bytecode of this [contract](https://etherscan.io/address/0xf85b6097e93399fc058e36a474ab5894127e4429#code), which is a ERC721 contract.

The bytecode I'm passing in is from the contract export, `bytecode` column. For some reason, the method is return

[2022-02-27 06:40] leechenghan commented on #195
I'm encountering problems with the is_erc721_contract function as well, outlined in this [issue](https://github.com/blockchain-etl/ethereum-etl/issues/319). This [contract](https://etherscan.io/address/0xf85b6097e93399fc058e36a474ab5894127e4429#code) is ERC721 but for some reason, the function sighashes returned from parsing the bytecode are different from the sighashes of the ERC721 functions.

[

[2022-03-01 10:59] spencer-collins-kubrick commented on #317
Hey, yep that works if I pull locally and build. Although I get a separate error when accessing infura with for example this command: `docker run -v ./output:/eth-etl/output eth-etl:latest export_all -s 0 -e 5499999 -b 100000 -p https://mainnet.infura.io`

I get this error trace:
2022-03-01 10:56:30,706 - root [ERROR] - An exception occurred while executing execute_with_retries. Retry #1
Traceback

[2022-03-01 14:34] medvedev1088 commented on #317
Correct you need to sign up for Infura or other node provider e.g. QuickNode

[2022-03-03 11:05] magnitis commented on #308
@ninaleechie I faced a similar issue with the `eth-rlp` library while setting up under the same environment (Python3.8 on Ubuntu 20.04).
As a temporary fix, I downgraded to `eth-rlp==0.2.1`.

[2022-03-08 13:30] nickcorin opened #320 "Add option to disable "last_synced_block.txt""
When using the `stream` command, you are required to either provide only of either the `--start-block` flag or the `--last-synced-block-file` flag. However, even when using `--start-block`, the `last_synced_block.txt` file is created preventing you from using the `--start-block` flag again until you remove the file which as been created.

In my use case, I would prefer to provide the `--start-bloc

[2022-03-10 19:18] 0xpetersatoshi commented on #306
PR with fix [submitted](https://github.com/blockchain-etl/ethereum-etl/pull/321) 🤝

[2022-03-11 00:06] redgeoff opened #322 "How many NFTs are hosted on IPFS?"
Let me start by saying that I am a NFT noob so I apologize ahead of time if any of this is obvious.

I'm looking to determine how many NFTs are "hosted" on IPFS as opposed to on centralized web servers, i.e. how many of the `tokenURIs` start with `ipfs://` vs `https://`. The post [here](https://medium.com/coinmonks/how-to-find-your-nft-on-ipfs-e51bc5e7c8a1) does a great job of outlining the manual

[2022-03-14 08:48] #317 closed, assigned to nobody

[2022-03-16 21:58] kdoda commented on #314
@medvedev1088 I am running into the same issue. Any feedback on this?

[2022-03-16 21:59] kdoda commented on #242
@psych0xpomp did you ever solve this?

[2022-03-17 06:01] redgeoff commented on #322
Conversation continued at https://ethereum.stackexchange.com/questions/123549/how-many-nfts-are-hosted-on-ipfs/123572#123572

[2022-03-17 06:01] #322 closed, assigned to nobody

[2022-03-18 21:06] kdoda commented on #239
@sunysen did you ever find a solution to your issue?

[2022-03-21 22:35] Vaiyani commented on #181
I guess this thing still persists. I was joining **token address** field from token_transfers table with **address** field in tokens (and amended_tokens) table in big query dataset, resulting in null values.

[2022-03-28 07:30] medvedev1088 commented on #314
Thanks for reporting this. block_number field is only populated by extract_contract command

[2022-03-29 16:43] TheBobFather1980 commented on #319
I am also noticing this issue - several ERC-721 tokens are showing up in the contract csv files with is_erc721 = false.  Here are some example contract addresses:

0x3598fff0f78dd8b497e12a3ad91febcfc8f49d9e
0xb2e4e69527d57fa108c535721c057075a7a82e86

Is there a workaround for this?  I work for an accounting firm and need to know whether a token is ERC-20 or ERC-721.

[2022-03-29 20:36] dannnnthemannnn commented on #221
Also curious if this will interrupt or change things with this project.

[2022-03-29 21:21] TheBobFather1980 commented on #305
Any update on this?  This is a significant shortcoming considering the data is missing a good chunk of token transfers.  Alternatively, is there any way to get this data?

[2022-03-30 14:53] medvedev1088 commented on #305
See if these tables in BigQuery are useful:

- blockchain-etl.ethereum_common.All_event_TransferBatch
- blockchain-etl.ethereum_common.All_event_TransferSingle

[2022-03-30 15:32] medvedev1088 commented on #320
Thanks for the feedback! This is indeed sometimes annoying.

Option 2 seems simpler to me however it wouldn't be backward compatible, unless we invent some special string indicating disabling this file like `/dev/null` but this is too cryptic. So I'd prefer to go with option 1.

[2022-04-01 03:37] limingyang2020 commented on #265
so geth is fully synced when getBlock('latest').number is what eth.syncing .currentBlock showing,right?

[2022-04-01 03:40] limingyang2020 commented on #262
the same problem ,  what should i do
ethereumetl.misc.retriable_value_error.RetriableValueError: result is None in response {'jsonrpc': '2.0', 'id': 0, 'result': None}. Make sure Ethereum node is synced.
An error occurred. Quitting.

[2022-04-01 14:17] #275 closed, assigned to nobody

[2022-04-01 15:14] michael-stajer commented on #265
It is when the STATES are fully downloaded. At the same time, getBlock('latest') == eth.currentBlock

[2022-04-04 03:18] Wood1314 opened #324 "How to export EHC"
Anyone who can tell me how can i use the tool to export EHC？Detail command is needed. Thank you.

[2022-04-10 19:41] alexleventer commented on #308
@medvedev1088 - I can take this issue?

[2022-04-11 19:59] ytrezq opened #327 "Please support erc20 token approvals."
With the rise of Defi, tokens become more important than Ethereum.

An important part of this is the ability to get approval amounts for a specific address or at least, approvals changes before mixing with other data.

[2022-04-12 15:01] medvedev1088 commented on #308
@alexleventer that would be great, thanks!

[2022-04-13 01:50] dbfreem commented on #308
following. I have worked on web3.py some and would be interested if there are breaking changes that cause you problems with that big of a version move. web3.py 4.7.2 was released September 25, 2018 so I suspect this will have bigger impacts than just upgrading the dependencies. I am happy to help if I can.

[2022-04-13 06:33] yaseenkhanmohmand opened #329 "Verifying list of holders"
For each collection can we please make sure that we have the correct list of holders. We can do this by comparing the list of holders with information from etherscan.

![image](https://user-images.githubusercontent.com/34256008/163114403-39e5e50e-b818-4fa3-b555-ce400ec43b2f.png)

|https://etherscan.io/token/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d#balances

This is an important check because if

[2022-04-13 06:36] yaseenkhanmohmand opened #330 "Getting streaming data of NFT events on Eth blockchain"
It seems we currently have a static list of projects on nft-hunter, can we make it so that we can get all Eth NFTs on the website. This will mean that viewers will have the ability to detect activity on new project as soon as new projects hit the market.

This will require using the nft/transfers api from moralis, which does not need an NFT contract address to provide transfers information. It ins

[2022-04-13 06:38] yaseenkhanmohmand opened #331 "BCHP metric bug"
When calculating the BCHP metric the formula is:

Number of holders that hold atleast one Blue chip project (excluding the bluechip project in questions*)/
total number of holders.

attaching image of the error:
<img width="1392" alt="image" src="https://user-images.githubusercontent.com/34256008/163115146-77604623-6e88-4c36-a0da-3448d22035c7.png">

The percentage on Azuki should not be 100%, we s

[2022-04-13 06:41] yaseenkhanmohmand opened #332 "Holding chart improvements"
<img width="920" alt="image" src="https://user-images.githubusercontent.com/34256008/163115339-b6dd0a57-a367-478c-b189-ea27033f16e7.png">

Can we show more historic data on this chart? This is currently only showing data 2022-04-06 onwards, can we show all historic data for any project.

This chart should have two lines:
1 line that shows historic floor price.

1 line that shows the historic Blue

[2022-04-13 06:43] yaseenkhanmohmand opened #333 "Blue chip holders details."
When someone clicks on a project from the home page this is what it should show:

![image](https://user-images.githubusercontent.com/34256008/163116082-0811b892-f5d2-440d-afa3-ba1278093b06.png)

It should show the breakdown of holding percentages by each bluechip project.

[2022-04-13 06:53] yaseenkhanmohmand opened #334 "Access to databases for Yaseen"
Hey guys,

I am hoping ot run some queries on the database, can you please share the credentials for this database with me.

[2022-04-13 06:56] yaseenkhanmohmand opened #335 "Access to database using the website UI."
It will be great to have a UI on the front end of the website to access the database and run queries.

This UI will allow users to write SQL and it will display results in the form of a table.

Very similar to Dune.xyz

[2022-04-13 06:58] yaseenkhanmohmand opened #336 "Holding Median Bug"
how is this metric being calculated?

Ideally we want to calculate:

For any project, what is the median amount of time it's holders has held a project in the past.

for example if a project has 5 holders:

holder 1: has held all it's nfts for a median of 5 days before selling.
holder 2: has held all it's nfts for a median of 10 days before selling.
holder 3: has held all it's nfts for a median of

[2022-04-13 06:59] yaseenkhanmohmand opened #337 "Enable scrolling on the front end."
<img width="1483" alt="image" src="https://user-images.githubusercontent.com/34256008/163118471-a1c09640-b9a6-44f6-aad2-e3aea5df0e24.png">

All column names should be clickable on the front end. Clicking them should sort the column quickly in Ascending or descending order.

Currently it takes very long to sort these projects.

[2022-04-13 07:01] yaseenkhanmohmand opened #338 "Filters on the front end UI"
Lets have some basic filters on the front end.

E.g:

<img width="246" alt="image" src="https://user-images.githubusercontent.com/34256008/163118683-4c31af2c-91a4-4fbd-902a-92bf47b5afb2.png">

And the ability to filter by median days held.

and BCHP

[2022-04-13 08:18] medvedev1088 commented on #337
Hi, is it in relation to this website https://www.nfthunter.app/ ?

[2022-04-13 08:22] yaseenkhanmohmand commented on #337
This is for nft-hunter.xyz

On Wed, Apr 13, 2022 at 1:18 AM Evgeny Medvedev ***@***.***>
wrote:

[2022-04-13 08:26] medvedev1088 commented on #337
This repository is not related to nft-hunter.xyz I believe

[2022-04-13 16:08] yaseenkhanmohmand commented on #337
Can you add me to the https://nft-hunter.xyz/ rep?

Also is it possible to all these tickets to that rep?

[2022-04-13 16:10] medvedev1088 commented on #337
Please contact people at https://nft-hunter.xyz/. I unfortunately don't know their repository

[2022-04-13 16:10] #337 closed, assigned to nobody

[2022-04-13 16:10] #338 closed, assigned to nobody

[2022-04-13 16:10] medvedev1088 commented on #338
Not related to this repository

[2022-04-13 16:10] medvedev1088 commented on #336
Not related to this repository

[2022-04-13 16:10] #336 closed, assigned to nobody

[2022-04-13 16:11] medvedev1088 commented on #335
Not related to this repository

[2022-04-13 16:11] #335 closed, assigned to nobody

[2022-04-13 16:11] medvedev1088 commented on #334
Not related to this repository

[2022-04-13 16:11] #334 closed, assigned to nobody

[2022-04-13 16:11] medvedev1088 commented on #333
Not related to this repository

[2022-04-13 16:11] #333 closed, assigned to nobody

[2022-04-13 16:11] medvedev1088 commented on #332
Not related to this repository

[2022-04-13 16:11] #332 closed, assigned to nobody

[2022-04-13 16:11] medvedev1088 commented on #331
Not related to this repository

[2022-04-13 16:11] #331 closed, assigned to nobody

[2022-04-13 16:12] medvedev1088 commented on #330
Not related to this repository

[2022-04-13 16:12] #330 closed, assigned to nobody

[2022-04-13 16:12] medvedev1088 commented on #329
Not related to this repository

[2022-04-13 16:12] #329 closed, assigned to nobody

[2022-04-15 10:41] dbfreem commented on #308
Also, one thing to keep in mind is that web3.py dropped python 3.6 support in this [commit](https://github.com/ethereum/web3.py/commit/1284329406d8ae34766de65561229598129a1d19). So this upgrade would require ethereum etl to drop 3.6 support as well.

[2022-04-20 08:42] PhaedoLab commented on #235
I reduced the batch-size to 20 and no error occur

[2022-04-21 22:09] prp17 opened #340 "r"

[2022-04-21 22:09] #340 closed, assigned to nobody

[2022-05-06 07:49] jerrinot commented on #308
Hello, I understood blockchain-etl does not work on Python 3.10 and this PR could make it compatible again.

It's because the old web3 transitively depends on an ancient version of eth-account, which does not have this [tiny 4 letters fix](https://github.com/ethereum/eth-account/commit/ccff52439b6bb0101b6f3f7c212e40f4cd8f1d92) merged and apparently Python 3.10 drop support for the old & deprecated

[2022-05-06 10:28] dbfreem opened #344 "Add Python 3.10 support"
The current version on web3.py that is being upgraded to in #339 supports python 3.7.2 through python 3.9. Once web3.py releases their v6 release then web3.py will support python 3.10

Items needed to support 3.10
 - web3.py v6
 - CI in ethereum-etl would need to be added for 3.10

Does anyone else know of any other changes that may be needed to move ethereum-etl to python 3.10 support.

[2022-05-08 15:21] whydna opened #345 "pg8000 1.16.6 or greater is required"
[code]

[2022-05-08 16:48] #345 closed, assigned to nobody

[2022-05-08 16:51] medvedev1088 commented on #345
Thanks for reporting. Should be fixed in v2.0.1

[2022-05-09 06:17] sfsf9797 commented on #309
hi @medvedev1088 would you mind checking my [pr](https://github.com/blockchain-etl/ethereum-etl/pull/342) on this issue? thanks!

[2022-05-15 22:35] ytrezq opened #348 "Please support websockets to `get_provider_from_uri` !"
web3py supports it since 2018. It adds 4 to 8× performance compared to plain ʜᴛᴛᴘ while not having to own a node.

       File "/usr/lib/pypy3.9/site-packages/ethereumetl/thread_local_proxy.py", line 33, in __getattr__
        return getattr(self._get_thread_local_delegate(), name)
      File "/usr/lib/pypy3.9/site-packages/ethereumetl/thread_local_proxy.py", line 37, in _get_thread_local_delegate

[2022-05-16 11:17] hanh-gamejam opened #349 "EthContractService only get get_function_sighashes on basicblocks[0]"
I running a ethereum-etl for get data from my private block chain running on geth. but it detect fail type of contract.

After reading code I saw that eth_contract_service only read functions sighashes on  basicblocks[0]. So is it ok?

https://github.com/blockchain-etl/ethereum-etl/blob/59ddb23f4591e0e40d199120623bcf580ebf0c37/ethereumetl/service/eth_contract_service.py#L29

[code]

[2022-05-16 18:38] kdoda opened #350 "value is too large for transaction 0xbec0be4fd59081b2ea5923bb68a5adcc522cb0bc6e778540802406094c5109d0 in token_transfers table."
Can you please take a look at this bug?

value for transaction 0xbec0be4fd59081b2ea5923bb68a5adcc522cb0bc6e778540802406094c5109d0 is unreasonably high (64855325985663894930836489220226401318767699022689309206020046035013068781522).

Somewhere in the ETL, the floating point got translated to a 64 bit integer

![value too large](https://user-images.githubusercontent.com/26553640/168658469-54369612-2

[2022-05-16 20:42] AndyDyer commented on #350
Bump

[2022-05-16 21:09] kdoda commented on #350
Also, there are 12825611 transactions with length >= 28.

<img width="1065" alt="incorrect transactions" src="https://user-images.githubusercontent.com/26553640/168672299-8a22d6f0-4f58-4736-9ea9-cc5d8db739f6.png">

[2022-05-19 14:47] VinaiRachakonda commented on #252
I'm still seeing this problem as well even with setting txlookuplimit

[2022-05-19 14:57] VinaiRachakonda commented on #252
My mistake, I think it just takes a long time before geth loads all of the older transactions. I'll wait a couple hours and followup.

[2022-05-19 17:44] VinaiRachakonda commented on #252
Works now! To be reiterate 1) Restart Geth with txlookuplimit=0 and let it sit for a couple hrs 2) Run the export job

[2022-05-20 07:28] medvedev1088 commented on #350
<img width="1307" alt="Screenshot 2022-05-20 at 3 27 57 PM" src="https://user-images.githubusercontent.com/930603/169476217-57e09ed2-24d0-473a-bad7-88e47515a41d.png">

That's ERC721 token transfer

[2022-05-20 16:06] elie222 commented on #315
This is the file that needs updating:
https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/service/token_transfer_extractor.py

Should be pretty simple. Basically erc1155 has more topics in the log. Right now these are skipped but don’t need to be

[2022-05-20 16:08] elie222 commented on #315
This file would also do with an update:
https://github.com/blockchain-etl/ethereum-etl/blob/develop/ethereumetl/service/eth_contract_service.py

Where you can check for erc1155 based on its transfer function that has an extra argument to represent tokenId

[2022-05-22 21:24] elie222 commented on #315
I made a PR for this here: https://github.com/blockchain-etl/ethereum-etl/pull/351

[2022-05-25 14:34] theweilu commented on #239
Is streaming contracts only possible through using a parity node? It seems so by looking at the Traceback.

[2022-05-25 14:40] theweilu commented on #223
Is there a plan to support Geth for streaming traces?

[2022-05-31 08:47] yehjames commented on #245
same issue when using quicknode api...

[2022-06-06 21:06] whydna opened #353 "Some contracts not categorized as ERC721 token? E.G: Bored Ape Yacht Club (BAYC)"
Bored Ape Yacht Club (BAYC) should be ERC 721 token:

[0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d](https://etherscan.io/address/0xbc4ca0eda7647a8ab7c2061c2e118a18a936f13d)

But it is false in the dataset.

Any ideas why?

[2022-06-08 02:53] fulldecent opened #355 "Address not found"
I put in the address for the first ERC-721 contract and did not see any results.

Is this ETL still active?

<img width="1509" alt="Screen Shot 2022-06-07 at 22 51 31" src="https://user-images.githubusercontent.com/382183/172521319-a1e09c88-7701-4cb5-b453-815f81133728.png">

[2022-06-15 10:52] bryzgaloff opened #357 "Provide access to full history through GCS buckets"
BigQuery datasets are available publicly. It would also be awesome to unload the full history of ETH history to, let's say, AWS S3 and make it queryable through Athena.

The request is: could you please provide access to raw data in GCS buckets? Parquet format would be awesome, but JSON/CSV is also ok. Unloading from GCS should be more efficient than from BigQuery, I believe. Please correct me if

[2022-06-17 14:33] medvedev1088 commented on #357
We don't expose exported files in GCS at this point. An alternative is to use scripts here to export data from BigQuery to GCS https://github.com/blockchain-etl/ethereum-etl-postgres

[2022-06-18 04:08] gddezero commented on #349
I agree that only checking basicblocks[0] is not enough. I have an example of DAI smart contract 0x6B175474E89094C44Da98b954EedeAC495271d0F. By checking the function signatures in basicblocks[0] will disqualify DAI as an ERC20 token.

My suggestion is iterate through all basicblocks and check function signatures.

[2022-06-18 04:12] gddezero commented on #349
The easiest way to correct this is:
change
  init_block = basic_blocks[0]
  instructions = init_block.instructions
to
  instructions = [inst for block in basic_blocks for inst in block.instructions]

In addition the whole traces need to be re-parsed to identify all ERC20 and ERC721 tokens.

[2022-06-20 05:01] bryzgaloff commented on #357
Can this be planned for implementation? I am contribute in case you may provide me with sufficient access to your GCS buckets / GCP account. I may configure the read-only credentials to the GCS bucket with data, or maybe make it public.

I may share alternatives once I dig a little bit into it for you to choose, but I would like to see the data itself first to plan if it needs any reformatting.

[2022-06-22 12:51] chanansh opened #361 "token id"
Contract Address refers to the address where the contract is deployed on Ethereum, while Token ID refers to this specific NFT.

I cannot find in the Bigquery schema information on token ID

[2022-06-24 07:39] GauthamramRavichandran commented on #257
provider uri should be the IPC path, not the datadir.
eg., file://$HOME/.ethereum/geth.ipc

[2022-06-24 09:49] GauthamramRavichandran commented on #300
use ipc path in provider-uri or you have to enable debug namespaces in http-api to get debug methods

[2022-06-24 09:50] GauthamramRavichandran commented on #278
Is this fixed? I am also getting status as blanks

[2022-06-29 04:06] ancil-t opened #362 "Exporting receipts and logs fail for transaction hashes that have no transaction receipt"
Thank you for this excellent package btw! I was wondering whether anyone can help me with this issue

## Description

The `export_receipts_and_logs` command fails when it encounters a tx hash that has no tx receipt or event logs.

## Verification

I've verified this by running the command against two files:

1. a file (`tx_hash_with_logs.txt`) with just `0x37c5c1f28fca1638aac3ec7c0c1b5c1ebf8df18cd

[2022-06-30 03:48] ancil-t commented on #362
I even tried running the `export_all.sh` script by running the following
[code]

I end up getting the same error
[code]

For some context, when I run the following, it exports the tx receipt and logs fine:
[code]

[2022-07-04 11:33] GauthamramRavichandran commented on #353
#349 this could be the fix

[2022-07-04 11:34] GauthamramRavichandran commented on #319
It’s a bug as mentioned in #349

[2022-07-04 11:37] GauthamramRavichandran commented on #355
All the fields are in normalised form. So addresses would be in lowercases. Convert it into lowercase characters before querying.

[2022-07-07 02:50] fulldecent commented on #355
Thank you. I fixed it with:

[code]

---

In MySQL, rows can be specified with a case insensitive collation. Whoever owns this data model might consider something like that.

Also especially because in Ethereum communities, the "normalized form" is sometimes considered as the EIP-55 rather than the lowercase version.

[2022-07-07 02:51] #355 closed, assigned to nobody

[2022-07-10 09:31] zwyxnk opened #366 "使用 ethereumetl 流"
ethereumetl export_all -s 0 -e 9999999 -b 100000 -p file:///home/xnk/go-workspace/ETH/eth_data/geth.ipc -o output

2022-07-10 17:20:40,301 - ProgressLogger [INFO] - Started work.
2022-07-10 17:21:01,390 - BatchWorkExecutor [ERROR] - An exception occurred while executing work_handler.
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/ethereumetl/executors/batch_work_

[2022-07-10 15:55] 0xRad7 opened #367 "how to use this repo on tron node？"
how to use this repo on tron（TRX） node？

[2022-07-10 20:29] loganbonsignore commented on #366
I'm seeing this same issue. I have a Geth node and using the ipc file to extract data like above.

Reverting to an old version of Web3 fixed it for me. Currently running version 4.7.2. Hoping to find a real solution.

[2022-07-12 02:42] dbfreem commented on #366
I was trying to reproduce this issue and having trouble doing so. I am running a local node and running the command that you have above. @zwyxnk Is there anything you can think of that may make this more reproducible.

Also, @loganbonsignore can you provide more details about your issue? When you say you downgraded web3, are you saying you reverted back to a v1 version of ethereum-etl?

[2022-07-12 02:48] dbfreem commented on #308
Hey @medvedev1088  this issue can probably be closed.

[2022-07-12 07:31] zwyxnk commented on #366
I used Ubuntu to deploy a full node of geth, but when synchronizing, there are always dozens of blocks that cannot be synchronized. Then use Ethereum ETL to obtain Ethereum data set, but failed. The reason for the error is that the block is not synchronized

[2022-07-12 19:44] chumbalayaa commented on #277
I believe the `value` field of the transfer is the tokenId when the token being transferred is ERC721

[2022-07-12 19:51] chumbalayaa opened #368 "Any reason why certain wallet addresses may not appear in `balances` or `token_transfers`"
Some wallet addresses we have in our dao don't appear in queries we've written, but if we choose a random address from the preview data in BigQuery then it always returns a result. Happy to provide addresses but would rather not if it's a known issue why some might not appear?

[2022-07-14 08:23] alittlecanarybird commented on #362
Thanks @ancil-t for your bug report. I got the same problem here.

[2022-07-14 12:23] etc-chmod commented on #308
Just saw what you did. Will upgrade in the next weeks.
Thank you so much for your work!

[2022-07-21 07:03] FahdW commented on #368
I assume you're running Etl against maybe a full node and not an archive node? That'd be my assumption

[2022-07-21 10:39] chumbalayaa commented on #368
Thanks @FahdW, is there a param to select full vs. archive? I'm just querying BigQuery directly, and my understanding was the [ethereum_blockchain](https://bigquery.cloud.google.com/dataset/bigquery-public-data:ethereum_blockchain) was 100% complete

However, when I run the following I don't get data back - even though this is Justin Beiber's wallet and [the guy has tons of Eth](https://etherscan.

[2022-08-02 22:48] paymog opened #375 "How does ethereum etl handle reorgs?"
How does ethereum etl handle reorgs? I've search the [docs](https://ethereum-etl.readthedocs.io/en/latest/search.html?q=reorg) and [this repo](https://github.com/blockchain-etl/ethereum-etl/search?q=reorg) but nothing is coming up.

[2022-08-10 08:52] harsha-defy commented on #368
Most likely because the public data set has not been updated in the recent times maybe?

[2022-08-10 09:29] medvedev1088 commented on #368
You should be querying `bigquery-public-data.crypto_ethereum` instead of `bigquery-public-data.ethereum_blockchain`. The latter one is not being updated. Also the addresses should be lower-cased. Hope it helps

[2022-08-10 09:33] medvedev1088 commented on #368
[code]

[2022-08-10 09:33] #368 closed, assigned to nobody

[2022-08-11 19:40] marsupialtail opened #380 "Websocket support for ethereumetl stream"
Any plans?

[2022-08-14 00:37] TangMonk opened #384 "How frequently in bigquery update?"

[2022-08-15 13:34] #308 closed, assigned to nobody

[2022-08-16 16:35] lucasrothman opened #385 "Customize fields to be exported"
The default `export_token_transfers` function doesn't export timestamps. I tried adding "block_timestamp" to the `FIELDS_TO_EXPORT` list but while it did add the column to the CSV output it didn't populate it. How could I include this additional field?

[2022-08-23 07:44] cryptodogofmax opened #387 "requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: https://mainnet.infura.io/"
When I ran this command `docker run -v $HOME/output:/ethereum-etl/output ethereum-etl:latest export_all -s 0 -e 5499999 -b 100000 -p https://mainnet.infura.io` I am getting 403 error

[2022-08-27 17:36] egalano commented on #387
You need to register for an Infura account first and use your API credential/ProjectID `https://mainnet.infura.io/v3/{project-id}`

[2022-08-29 21:33] XXinyu-0907 opened #388 "The transaction value of NFT with WETH is 0"
Hi, I just noticed that the transaction value of some NFTs with WETH is 0. Can we get those transaction price given in WETH on the Ethereum blockchain?

Thanks in advance!

[2022-08-29 21:37] #388 closed, assigned to nobody

[2022-09-02 03:37] pomterre commented on #349
[code]

This fixes the problem when a contract has more than 6 `PUSH4` instructions.

[2022-09-07 09:57] wartstone commented on #349
does this fix for erc20, erc721 detection?

[2022-09-08 08:38] sajithaliyanage commented on #235
As @milkomedalab mentioned pass --batch-size=20 for the `ethereumetl` command. will solve the issue.

[2022-09-09 10:13] imrankhan37 commented on #349
Hey, could you show some proofs that this fixes token detection

[2022-09-09 14:35] akuehlka commented on #362
I'm facing the same problem here.
Currently trying to sync an older version of geth to see if I can export these blocks.
Anyone knows a workaround?

[2022-09-12 07:54] hanh-gamejam commented on #349
I quick fix this function in the code bellow
[code]
It work with ERC20, ERC721. Note that if you want to validate ERC1155 you must be remove `00fdd58e` (hash of `balanceOf(address,uint256)` )  function because if you optimize contract when deploy, it will become `PUSH3` instead of `PUSH4`

[2022-09-12 17:14] dannnnthemannnn opened #391 "Will this project continue to work seamlessly in bigquery after the Ethereum merge?"

[2022-09-13 02:24] zexianghuang commented on #319
The problem has not been solved yet. What version can solve it now。
`address,bytecode,function_sighashes,is_erc20,is_erc721,block_number
0xeb060a81132f92e45dc18d2d3def055b61987624,0x,,False,False,`
All the data is wrong！